/*-- RED BACKGROUND --*/
*.ts[ts-bg="red"] { background-color: $red; }

*.ts[ts-bg="red lighten1"] { background-color: $red-l1; }
*.ts[ts-bg="red lighten2"] { background-color: $red-l2; }
*.ts[ts-bg="red lighten3"] { background-color: $red-l3; }
*.ts[ts-bg="red lighten4"] { background-color: $red-l4; }
*.ts[ts-bg="red lighten5"] { background-color: $red-l5; }

*.ts[ts-bg="red darken1"] { background-color: $red-d1; }
*.ts[ts-bg="red darken2"] { background-color: $red-d2; }
*.ts[ts-bg="red darken3"] { background-color: $red-d3; }
*.ts[ts-bg="red darken4"] { background-color: $red-d4; }

*.ts[ts-bg="red accent1"] { background-color: $red-a1; }
*.ts[ts-bg="red accent2"] { background-color: $red-a2; }
*.ts[ts-bg="red accent3"] { background-color: $red-a3; }
*.ts[ts-bg="red accent4"] { background-color: $red-a4; }

/*-- PINK BACKGROUND --*/
*.ts[ts-bg="pink"] { background-color: $pink; }

*.ts[ts-bg="pink lighten1"] { background-color: $pink-l1; }
*.ts[ts-bg="pink lighten2"] { background-color: $pink-l2; }
*.ts[ts-bg="pink lighten3"] { background-color: $pink-l3; }
*.ts[ts-bg="pink lighten4"] { background-color: $pink-l4; }
*.ts[ts-bg="pink lighten5"] { background-color: $pink-l5; }

*.ts[ts-bg="pink darken1"] { background-color: $pink-d1; }
*.ts[ts-bg="pink darken2"] { background-color: $pink-d2; }
*.ts[ts-bg="pink darken3"] { background-color: $pink-d3; }
*.ts[ts-bg="pink darken4"] { background-color: $pink-d4; }

*.ts[ts-bg="pink accent1"] { background-color: $pink-a1; }
*.ts[ts-bg="pink accent2"] { background-color: $pink-a2; }
*.ts[ts-bg="pink accent3"] { background-color: $pink-a3; }
*.ts[ts-bg="pink accent4"] { background-color: $pink-a4; }

/*-- PURPLE BACKGROUND --*/
*.ts[ts-bg="purple"] { background-color: $purple; }

*.ts[ts-bg="purple lighten1"] { background-color: $purple-l1; }
*.ts[ts-bg="purple lighten2"] { background-color: $purple-l2; }
*.ts[ts-bg="purple lighten3"] { background-color: $purple-l3; }
*.ts[ts-bg="purple lighten4"] { background-color: $purple-l4; }
*.ts[ts-bg="purple lighten5"] { background-color: $purple-l5; }

*.ts[ts-bg="purple darken1"] { background-color: $purple-d1; }
*.ts[ts-bg="purple darken2"] { background-color: $purple-d2; }
*.ts[ts-bg="purple darken3"] { background-color: $purple-d3; }
*.ts[ts-bg="purple darken4"] { background-color: $purple-d4; }

*.ts[ts-bg="purple accent1"] { background-color: $purple-a1; }
*.ts[ts-bg="purple accent2"] { background-color: $purple-a2; }
*.ts[ts-bg="purple accent3"] { background-color: $purple-a3; }
*.ts[ts-bg="purple accent4"] { background-color: $purple-a4; }

/*-- DEEP-PURPLE BACKGROUND --*/
*.ts[ts-bg="deeppurple"] { background-color: $deeppurple; }

*.ts[ts-bg="deeppurple lighten1"] { background-color: $deeppurple-l1; }
*.ts[ts-bg="deeppurple lighten2"] { background-color: $deeppurple-l2; }
*.ts[ts-bg="deeppurple lighten3"] { background-color: $deeppurple-l3; }
*.ts[ts-bg="deeppurple lighten4"] { background-color: $deeppurple-l4; }
*.ts[ts-bg="deeppurple lighten5"] { background-color: $deeppurple-l5; }

*.ts[ts-bg="deeppurple darken1"] { background-color: $deeppurple-d1; }
*.ts[ts-bg="deeppurple darken2"] { background-color: $deeppurple-d2; }
*.ts[ts-bg="deeppurple darken3"] { background-color: $deeppurple-d3; }
*.ts[ts-bg="deeppurple darken4"] { background-color: $deeppurple-d4; }

*.ts[ts-bg="deeppurple accent1"] { background-color: $deeppurple-a1; }
*.ts[ts-bg="deeppurple accent2"] { background-color: $deeppurple-a2; }
*.ts[ts-bg="deeppurple accent3"] { background-color: $deeppurple-a3; }
*.ts[ts-bg="deeppurple accent4"] { background-color: $deeppurple-a4; }

/*-- INDIGO BACKGROUND --*/
*.ts[ts-bg="indigo"] { background-color: $indigo; }

*.ts[ts-bg="indigo lighten1"] { background-color: $indigo-l1; }
*.ts[ts-bg="indigo lighten2"] { background-color: $indigo-l2; }
*.ts[ts-bg="indigo lighten3"] { background-color: $indigo-l3; }
*.ts[ts-bg="indigo lighten4"] { background-color: $indigo-l4; }
*.ts[ts-bg="indigo lighten5"] { background-color: $indigo-l5; }

*.ts[ts-bg="indigo darken1"] { background-color: $indigo-d1; }
*.ts[ts-bg="indigo darken2"] { background-color: $indigo-d2; }
*.ts[ts-bg="indigo darken3"] { background-color: $indigo-d3; }
*.ts[ts-bg="indigo darken4"] { background-color: $indigo-d4; }

*.ts[ts-bg="indigo accent1"] { background-color: $indigo-a1; }
*.ts[ts-bg="indigo accent2"] { background-color: $indigo-a2; }
*.ts[ts-bg="indigo accent3"] { background-color: $indigo-a3; }
*.ts[ts-bg="indigo accent4"] { background-color: $indigo-a4; }

/*-- BLUE BACKGROUND --*/
*.ts[ts-bg="blue"] { background-color: $blue; }

*.ts[ts-bg="blue lighten2"] { background-color: $blue-l1; }
*.ts[ts-bg="blue lighten2"] { background-color: $blue-l2; }
*.ts[ts-bg="blue lighten3"] { background-color: $blue-l3; }
*.ts[ts-bg="blue lighten4"] { background-color: $blue-l4; }
*.ts[ts-bg="blue lighten5"] { background-color: $blue-l5; }

*.ts[ts-bg="blue darken1"] { background-color: $blue-d1; }
*.ts[ts-bg="blue darken2"] { background-color: $blue-d2; }
*.ts[ts-bg="blue darken3"] { background-color: $blue-d3; }
*.ts[ts-bg="blue darken4"] { background-color: $blue-d4; }

*.ts[ts-bg="blue accent1"] { background-color: $blue-a1; }
*.ts[ts-bg="blue accent2"] { background-color: $blue-a2; }
*.ts[ts-bg="blue accent3"] { background-color: $blue-a3; }
*.ts[ts-bg="blue accent4"] { background-color: $blue-a4; }

/*-- LIGHT-BLUE BACKGROUND --*/
*.ts[ts-bg="lightblue"] { background-color: $lightblue; }

*.ts[ts-bg="lightblue lighten1"] { background-color: $lightblue-l1; }
*.ts[ts-bg="lightblue lighten2"] { background-color: $lightblue-l2; }
*.ts[ts-bg="lightblue lighten3"] { background-color: $lightblue-l3; }
*.ts[ts-bg="lightblue lighten4"] { background-color: $lightblue-l4; }
*.ts[ts-bg="lightblue lighten5"] { background-color: $lightblue-l5; }

*.ts[ts-bg="lightblue darken1"] { background-color: $lightblue-d1; }
*.ts[ts-bg="lightblue darken2"] { background-color: $lightblue-d2; }
*.ts[ts-bg="lightblue darken3"] { background-color: $lightblue-d3; }
*.ts[ts-bg="lightblue darken4"] { background-color: $lightblue-d4; }

*.ts[ts-bg="lightblue accent1"] { background-color: $lightblue-a1; }
*.ts[ts-bg="lightblue accent2"] { background-color: $lightblue-a2; }
*.ts[ts-bg="lightblue accent3"] { background-color: $lightblue-a3; }
*.ts[ts-bg="lightblue accent4"] { background-color: $lightblue-a4; }

/*-- CYAN BACKGROUND --*/
*.ts[ts-bg="cyan"] { background-color: $cyan; }

*.ts[ts-bg="cyan lighten1"] { background-color: $cyan-l1; }
*.ts[ts-bg="cyan lighten2"] { background-color: $cyan-l2; }
*.ts[ts-bg="cyan lighten3"] { background-color: $cyan-l3; }
*.ts[ts-bg="cyan lighten4"] { background-color: $cyan-l4; }
*.ts[ts-bg="cyan lighten5"] { background-color: $cyan-l5; }

*.ts[ts-bg="cyan darken1"] { background-color: $cyan-d1; }
*.ts[ts-bg="cyan darken2"] { background-color: $cyan-d2; }
*.ts[ts-bg="cyan darken3"] { background-color: $cyan-d3; }
*.ts[ts-bg="cyan darken4"] { background-color: $cyan-d4; }

*.ts[ts-bg="cyan accent1"] { background-color: $cyan-a1; }
*.ts[ts-bg="cyan accent2"] { background-color: $cyan-a2; }
*.ts[ts-bg="cyan accent3"] { background-color: $cyan-a3; }
*.ts[ts-bg="cyan accent4"] { background-color: $cyan-a4; }

/*-- TEAL BACKGROUND --*/
*.ts[ts-bg="teal"] { background-color: $teal; }

*.ts[ts-bg="teal lighten1"] { background-color: $teal-l1; }
*.ts[ts-bg="teal lighten2"] { background-color: $teal-l2; }
*.ts[ts-bg="teal lighten3"] { background-color: $teal-l3; }
*.ts[ts-bg="teal lighten4"] { background-color: $teal-l4; }
*.ts[ts-bg="teal lighten5"] { background-color: $teal-l5; }

*.ts[ts-bg="teal darken1"] { background-color: $teal-d1; }
*.ts[ts-bg="teal darken2"] { background-color: $teal-d2; }
*.ts[ts-bg="teal darken3"] { background-color: $teal-d3; }
*.ts[ts-bg="teal darken4"] { background-color: $teal-d4; }

*.ts[ts-bg="teal accent1"] { background-color: $teal-a1; }
*.ts[ts-bg="teal accent2"] { background-color: $teal-a2; }
*.ts[ts-bg="teal accent3"] { background-color: $teal-a3; }
*.ts[ts-bg="teal accent4"] { background-color: $teal-a4; }

/*-- GREEN BACKGROUND --*/
*.ts[ts-bg="green"] { background-color: $green; }

*.ts[ts-bg="green lighten1"] { background-color: $green-l1; }
*.ts[ts-bg="green lighten2"] { background-color: $green-l2; }
*.ts[ts-bg="green lighten3"] { background-color: $green-l3; }
*.ts[ts-bg="green lighten4"] { background-color: $green-l4; }
*.ts[ts-bg="green lighten5"] { background-color: $green-l5; }

*.ts[ts-bg="green darken1"] { background-color: $green-d1; }
*.ts[ts-bg="green darken2"] { background-color: $green-d2; }
*.ts[ts-bg="green darken3"] { background-color: $green-d3; }
*.ts[ts-bg="green darken4"] { background-color: $green-d4; }

*.ts[ts-bg="green accent1"] { background-color: $green-a1; }
*.ts[ts-bg="green accent2"] { background-color: $green-a2; }
*.ts[ts-bg="green accent3"] { background-color: $green-a3; }
*.ts[ts-bg="green accent4"] { background-color: $green-a4; }

/*-- LIGHT-GREEN BACKGROUND --*/
*.ts[ts-bg="lightgreen"] { background-color: $lightgreen; }

*.ts[ts-bg="lightgreen lighten1"] { background-color: $lightgreen-l1; }
*.ts[ts-bg="lightgreen lighten2"] { background-color: $lightgreen-l2; }
*.ts[ts-bg="lightgreen lighten3"] { background-color: $lightgreen-l3; }
*.ts[ts-bg="lightgreen lighten4"] { background-color: $lightgreen-l4; }
*.ts[ts-bg="lightgreen lighten5"] { background-color: $lightgreen-l5; }

*.ts[ts-bg="lightgreen darken1"] { background-color: $lightgreen-d1; }
*.ts[ts-bg="lightgreen darken2"] { background-color: $lightgreen-d2; }
*.ts[ts-bg="lightgreen darken3"] { background-color: $lightgreen-d3; }
*.ts[ts-bg="lightgreen darken4"] { background-color: $lightgreen-d4; }

*.ts[ts-bg="lightgreen accent1"] { background-color: $lightgreen-a1; }
*.ts[ts-bg="lightgreen accent2"] { background-color: $lightgreen-a2; }
*.ts[ts-bg="lightgreen accent3"] { background-color: $lightgreen-a3; }
*.ts[ts-bg="lightgreen accent4"] { background-color: $lightgreen-a4; }

/*-- LIME BACKGROUND --*/
*.ts[ts-bg="lime"] { background-color: $lime; }

*.ts[ts-bg="lime lighten1"] { background-color: $lime-l1; }
*.ts[ts-bg="lime lighten2"] { background-color: $lime-l2; }
*.ts[ts-bg="lime lighten3"] { background-color: $lime-l3; }
*.ts[ts-bg="lime lighten4"] { background-color: $lime-l4; }
*.ts[ts-bg="lime lighten5"] { background-color: $lime-l5; }

*.ts[ts-bg="lime darken1"] { background-color: $lime-d1; }
*.ts[ts-bg="lime darken2"] { background-color: $lime-d2; }
*.ts[ts-bg="lime darken3"] { background-color: $lime-d3; }
*.ts[ts-bg="lime darken4"] { background-color: $lime-d4; }

*.ts[ts-bg="lime accent1"] { background-color: $lime-a1; }
*.ts[ts-bg="lime accent2"] { background-color: $lime-a2; }
*.ts[ts-bg="lime accent3"] { background-color: $lime-a3; }
*.ts[ts-bg="lime accent4"] { background-color: $lime-a4; }

/*-- YELLOW BACKGROUND --*/
*.ts[ts-bg="yellow"] { background-color: $yellow; }

*.ts[ts-bg="yellow lighten1"] { background-color: $yellow-l1; }
*.ts[ts-bg="yellow lighten2"] { background-color: $yellow-l2; }
*.ts[ts-bg="yellow lighten3"] { background-color: $yellow-l3; }
*.ts[ts-bg="yellow lighten4"] { background-color: $yellow-l4; }
*.ts[ts-bg="yellow lighten5"] { background-color: $yellow-l5; }

*.ts[ts-bg="yellow darken1"] { background-color: $yellow-d1; }
*.ts[ts-bg="yellow darken2"] { background-color: $yellow-d2; }
*.ts[ts-bg="yellow darken3"] { background-color: $yellow-d3; }
*.ts[ts-bg="yellow darken4"] { background-color: $yellow-d4; }

*.ts[ts-bg="yellow accent1"] { background-color: $yellow-a1; }
*.ts[ts-bg="yellow accent2"] { background-color: $yellow-a2; }
*.ts[ts-bg="yellow accent3"] { background-color: $yellow-a3; }
*.ts[ts-bg="yellow accent4"] { background-color: $yellow-a4; }

/*-- AMBER BACKGROUND --*/
*.ts[ts-bg="amber"] { background-color: $amber; }

*.ts[ts-bg="amber lighten1"] { background-color: $amber-l1; }
*.ts[ts-bg="amber lighten2"] { background-color: $amber-l2; }
*.ts[ts-bg="amber lighten3"] { background-color: $amber-l3; }
*.ts[ts-bg="amber lighten4"] { background-color: $amber-l4; }
*.ts[ts-bg="amber lighten5"] { background-color: $amber-l5; }

*.ts[ts-bg="amber darken1"] { background-color: $amber-d1; }
*.ts[ts-bg="amber darken2"] { background-color: $amber-d2; }
*.ts[ts-bg="amber darken3"] { background-color: $amber-d3; }
*.ts[ts-bg="amber darken4"] { background-color: $amber-d4; }

*.ts[ts-bg="amber accent1"] { background-color: $amber-a1; }
*.ts[ts-bg="amber accent2"] { background-color: $amber-a2; }
*.ts[ts-bg="amber accent3"] { background-color: $amber-a3; }
*.ts[ts-bg="amber accent4"] { background-color: $amber-a4; }

/*-- ORANGE BACKGROUND --*/
*.ts[ts-bg="orange"] { background-color: $orange; }

*.ts[ts-bg="orange lighten1"] { background-color: $orange-l1; }
*.ts[ts-bg="orange lighten2"] { background-color: $orange-l2; }
*.ts[ts-bg="orange lighten3"] { background-color: $orange-l3; }
*.ts[ts-bg="orange lighten4"] { background-color: $orange-l4; }
*.ts[ts-bg="orange lighten5"] { background-color: $orange-l5; }

*.ts[ts-bg="orange darken1"] { background-color: $orange-d1; }
*.ts[ts-bg="orange darken2"] { background-color: $orange-d2; }
*.ts[ts-bg="orange darken3"] { background-color: $orange-d3; }
*.ts[ts-bg="orange darken4"] { background-color: $orange-d4; }

*.ts[ts-bg="orange accent1"] { background-color: $orange-a1; }
*.ts[ts-bg="orange accent2"] { background-color: $orange-a2; }
*.ts[ts-bg="orange accent3"] { background-color: $orange-a3; }
*.ts[ts-bg="orange accent4"] { background-color: $orange-a4; }

/*-- DEEP-ORANGE BACKGROUND --*/
*.ts[ts-bg="deeporange"] { background-color: $deeporange; }

*.ts[ts-bg="deeporange lighten1"] { background-color: $deeporange-l1; }
*.ts[ts-bg="deeporange lighten2"] { background-color: $deeporange-l2; }
*.ts[ts-bg="deeporange lighten3"] { background-color: $deeporange-l3; }
*.ts[ts-bg="deeporange lighten4"] { background-color: $deeporange-l4; }
*.ts[ts-bg="deeporange lighten5"] { background-color: $deeporange-l5; }

*.ts[ts-bg="deeporange darken1"] { background-color: $deeporange-d1; }
*.ts[ts-bg="deeporange darken2"] { background-color: $deeporange-d2; }
*.ts[ts-bg="deeporange darken3"] { background-color: $deeporange-d3; }
*.ts[ts-bg="deeporange darken4"] { background-color: $deeporange-d4; }

*.ts[ts-bg="deeporange accent1"] { background-color: $deeporange-a1; }
*.ts[ts-bg="deeporange accent2"] { background-color: $deeporange-a2; }
*.ts[ts-bg="deeporange accent3"] { background-color: $deeporange-a3; }
*.ts[ts-bg="deeporange accent4"] { background-color: $deeporange-a4; }

/*-- BROWN BACKGROUND --*/
*.ts[ts-bg="brown"] { background-color: $brown; }

*.ts[ts-bg="brown lighten1"] { background-color: $brown-l1; }
*.ts[ts-bg="brown lighten2"] { background-color: $brown-l2; }
*.ts[ts-bg="brown lighten3"] { background-color: $brown-l3; }
*.ts[ts-bg="brown lighten4"] { background-color: $brown-l4; }
*.ts[ts-bg="brown lighten5"] { background-color: $brown-l5; }

*.ts[ts-bg="brown darken1"] { background-color: $brown-d1; }
*.ts[ts-bg="brown darken2"] { background-color: $brown-d2; }
*.ts[ts-bg="brown darken3"] { background-color: $brown-d3; }
*.ts[ts-bg="brown darken4"] { background-color: $brown-d4; }

/*-- GREY BACKGROUND --*/
*.ts[ts-bg="grey"] { background-color: $grey; }

*.ts[ts-bg="grey lighten1"] { background-color: $grey-l1; }
*.ts[ts-bg="grey lighten2"] { background-color: $grey-l2; }
*.ts[ts-bg="grey lighten3"] { background-color: $grey-l3; }
*.ts[ts-bg="grey lighten4"] { background-color: $grey-l4; }
*.ts[ts-bg="grey lighten5"] { background-color: $grey-l5; }

*.ts[ts-bg="grey darken1"] { background-color: $grey-d1; }
*.ts[ts-bg="grey darken2"] { background-color: $grey-d2; }
*.ts[ts-bg="grey darken3"] { background-color: $grey-d3; }
*.ts[ts-bg="grey darken4"] { background-color: $grey-d4; }

/*-- BLUE-GREY BACKGROUND --*/
*.ts[ts-bg="bluegrey"] { background-color: $bluegrey; }

*.ts[ts-bg="bluegrey lighten1"] { background-color: $bluegrey-l1; }
*.ts[ts-bg="bluegrey lighten2"] { background-color: $bluegrey-l2; }
*.ts[ts-bg="bluegrey lighten3"] { background-color: $bluegrey-l3; }
*.ts[ts-bg="bluegrey lighten4"] { background-color: $bluegrey-l4; }
*.ts[ts-bg="bluegrey lighten5"] { background-color: $bluegrey-l5; }

*.ts[ts-bg="bluegrey darken1"] { background-color: $bluegrey-d1; }
*.ts[ts-bg="bluegrey darken2"] { background-color: $bluegrey-d2; }
*.ts[ts-bg="bluegrey darken3"] { background-color: $bluegrey-d3; }
*.ts[ts-bg="bluegrey darken4"] { background-color: $bluegrey-d4; }

/*-- BLACK, WHITE and TRANSPARENT BACKGROUND --*/
*.ts[ts-bg="black"] { background-color: $black; }
*.ts[ts-bg="white"] { background-color: $white; }
*.ts[ts-bg="transparent"] { background-color: $transparent; }