/*-- REDS --*/
/*-- PINKS --*/
/*-- PURPLES --*/
/*-- DEEP-PURPLES --*/
/*-- INDIGOS -- */
/*-- BLUES --*/
/*-- LIGHT-BLUES --*/
/*-- CYANS --*/
/*-- TEALS --*/
/*-- GREEN --*/
/*-- LIGHT-GREENS --*/
/*-- LIMES --*/
/*-- YELLOWS --*/
/*-- AMBERS --*/
/*-- ORANGES --*/
/*-- DEEP-ORANGES --*/
/*-- BROWNS --*/
/*-- GREYS --*/
/*-- BLUE-GREYS --*/
/*-- BLACK, WHITE and TRANSPARENT --*/
/*-- RED BACKGROUND --*/
*.qcb.red {
  background-color: #f44336; }

*.qcb.red.lighten1 {
  background-color: #ef5350; }

*.qcb.red.lighten2 {
  background-color: #e57373; }

*.qcb.red.lighten3 {
  background-color: #ef9a9a; }

*.qcb.red.lighten4 {
  background-color: #ffcdd2; }

*.qcb.red.lighten5 {
  background-color: #ffebee; }

*.qcb.red.darken1 {
  background-color: #e53935; }

*.qcb.red.darken2 {
  background-color: #d32f2f; }

*.qcb.red.darken3 {
  background-color: #c62828; }

*.qcb.red.darken4 {
  background-color: #b71c1c; }

*.qcb.red.accent1 {
  background-color: #ff8a80; }

*.qcb.red.accent2 {
  background-color: #ff5252; }

*.qcb.red.accent3 {
  background-color: #ff1744; }

*.qcb.red.accent4 {
  background-color: #d50000; }

/*-- PINK BACKGROUND --*/
*.qcb.pink {
  background-color: #e91e63; }

*.qcb.pink.lighten1 {
  background-color: #ec407a; }

*.qcb.pink.lighten2 {
  background-color: #f06292; }

*.qcb.pink.lighten3 {
  background-color: #f48fb1; }

*.qcb.pink.lighten4 {
  background-color: #f8bbd0; }

*.qcb.pink.lighten5 {
  background-color: #fce4ec; }

*.qcb.pink.darken1 {
  background-color: #d81b60; }

*.qcb.pink.darken2 {
  background-color: #c2185b; }

*.qcb.pink.darken3 {
  background-color: #ad1457; }

*.qcb.pink.darken4 {
  background-color: #880e4f; }

*.qcb.pink.accent1 {
  background-color: #ff80ab; }

*.qcb.pink.accent2 {
  background-color: #ff4081; }

*.qcb.pink.accent3 {
  background-color: #f50057; }

*.qcb.pink.accent4 {
  background-color: #c51162; }

/*-- PURPLE BACKGROUND --*/
*.qcb.purple {
  background-color: #9c27b0; }

*.qcb.purple.lighten1 {
  background-color: #ab47bc; }

*.qcb.purple.lighten2 {
  background-color: #ba68c8; }

*.qcb.purple.lighten3 {
  background-color: #ce93d8; }

*.qcb.purple.lighten4 {
  background-color: #e1bee7; }

*.qcb.purple.lighten5 {
  background-color: #f3e5f5; }

*.qcb.purple.darken1 {
  background-color: #8e24aa; }

*.qcb.purple.darken2 {
  background-color: #7b1fa2; }

*.qcb.purple.darken3 {
  background-color: #6a1b9a; }

*.qcb.purple.darken4 {
  background-color: #4a148c; }

*.qcb.purple.accent1 {
  background-color: #ea80fc; }

*.qcb.purple.accent2 {
  background-color: #e040fb; }

*.qcb.purple.accent3 {
  background-color: #d500f9; }

*.qcb.purple.accent4 {
  background-color: #aa00ff; }

/*-- DEEP-PURPLE BACKGROUND --*/
*.qcb.deeppurple {
  background-color: #673ab7; }

*.qcb.deeppurple.lighten1 {
  background-color: #7e57c2; }

*.qcb.deeppurple.lighten2 {
  background-color: #9575cd; }

*.qcb.deeppurple.lighten3 {
  background-color: #b39ddb; }

*.qcb.deeppurple.lighten4 {
  background-color: #d1c4e9; }

*.qcb.deeppurple.lighten5 {
  background-color: #ede7f6; }

*.qcb.deeppurple.darken1 {
  background-color: #5e35b1; }

*.qcb.deeppurple.darken2 {
  background-color: #512da8; }

*.qcb.deeppurple.darken3 {
  background-color: #4527a0; }

*.qcb.deeppurple.darken4 {
  background-color: #311b92; }

*.qcb.deeppurple.accent1 {
  background-color: #b388ff; }

*.qcb.deeppurple.accent2 {
  background-color: #7c4dff; }

*.qcb.deeppurple.accent3 {
  background-color: #651fff; }

*.qcb.deeppurple.accent4 {
  background-color: #6200ea; }

/*-- INDIGO BACKGROUND --*/
*.qcb.indigo {
  background-color: #3f51b5; }

*.qcb.indigo.lighten1 {
  background-color: #5c6bc0; }

*.qcb.indigo.lighten2 {
  background-color: #7986cb; }

*.qcb.indigo.lighten3 {
  background-color: #9fa8da; }

*.qcb.indigo.lighten4 {
  background-color: #c5cae9; }

*.qcb.indigo.lighten5 {
  background-color: #e8eaf6; }

*.qcb.indigo.darken1 {
  background-color: #3949ab; }

*.qcb.indigo.darken2 {
  background-color: #3949ab; }

*.qcb.indigo.darken3 {
  background-color: #283593; }

*.qcb.indigo.darken4 {
  background-color: #1a237e; }

*.qcb.indigo.accent1 {
  background-color: #8c9eff; }

*.qcb.indigo.accent2 {
  background-color: #536dfe; }

*.qcb.indigo.accent3 {
  background-color: #3d5afe; }

*.qcb.indigo.accent4 {
  background-color: #304ffe; }

/*-- BLUE BACKGROUND --*/
*.qcb.blue {
  background-color: #2196f3; }

*.qcb.blue.lighten1 {
  background-color: #42a5f5; }

*.qcb.blue.lighten2 {
  background-color: #64b5f6; }

*.qcb.blue.lighten3 {
  background-color: #90caf9; }

*.qcb.blue.lighten4 {
  background-color: #bbdefb; }

*.qcb.blue.lighten5 {
  background-color: #e3f2fd; }

*.qcb.blue.darken1 {
  background-color: #1e88e5; }

*.qcb.blue.darken2 {
  background-color: #1976d2; }

*.qcb.blue.darken3 {
  background-color: #1565c0; }

*.qcb.blue.darken4 {
  background-color: #0d47a1; }

*.qcb.blue.accent1 {
  background-color: #82b1ff; }

*.qcb.blue.accent2 {
  background-color: #448aff; }

*.qcb.blue.accent3 {
  background-color: #2979ff; }

*.qcb.blue.accent4 {
  background-color: #2962ff; }

/*-- LIGHT-BLUE BACKGROUND --*/
*.qcb.lightblue {
  background-color: #03a9f4; }

*.qcb.lightblue.lighten1 {
  background-color: #29b6f6; }

*.qcb.lightblue.lighten2 {
  background-color: #4fc3f7; }

*.qcb.lightblue.lighten3 {
  background-color: #81d4fa; }

*.qcb.lightblue.lighten4 {
  background-color: #b3e5fc; }

*.qcb.lightblue.lighten5 {
  background-color: #e1f5fe; }

*.qcb.lightblue.darken1 {
  background-color: #039be5; }

*.qcb.lightblue.darken2 {
  background-color: #0288d1; }

*.qcb.lightblue.darken3 {
  background-color: #0277bd; }

*.qcb.lightblue.darken4 {
  background-color: #01579b; }

*.qcb.lightblue.accent1 {
  background-color: #80d8ff; }

*.qcb.lightblue.accent2 {
  background-color: #40c4ff; }

*.qcb.lightblue.accent3 {
  background-color: #00b0ff; }

*.qcb.lightblue.accent4 {
  background-color: #0091ea; }

/*-- CYAN BACKGROUND --*/
*.qcb.cyan {
  background-color: #00bcd4; }

*.qcb.cyan.lighten1 {
  background-color: #26c6da; }

*.qcb.cyan.lighten2 {
  background-color: #4dd0e1; }

*.qcb.cyan.lighten3 {
  background-color: #80deea; }

*.qcb.cyan.lighten4 {
  background-color: #b2ebf2; }

*.qcb.cyan.lighten5 {
  background-color: #e0f7fa; }

*.qcb.cyan.darken1 {
  background-color: #00acc1; }

*.qcb.cyan.darken2 {
  background-color: #0097a7; }

*.qcb.cyan.darken3 {
  background-color: #00838f; }

*.qcb.cyan.darken4 {
  background-color: #006064; }

*.qcb.cyan.accent1 {
  background-color: #84ffff; }

*.qcb.cyan.accent2 {
  background-color: #18ffff; }

*.qcb.cyan.accent3 {
  background-color: #00e5ff; }

*.qcb.cyan.accent4 {
  background-color: #00b8d4; }

/*-- TEAL BACKGROUND --*/
*.qcb.teal {
  background-color: #009688; }

*.qcb.teal.lighten1 {
  background-color: #26a69a; }

*.qcb.teal.lighten2 {
  background-color: #4db6ac; }

*.qcb.teal.lighten3 {
  background-color: #80cbc4; }

*.qcb.teal.lighten4 {
  background-color: #b2dfdb; }

*.qcb.teal.lighten5 {
  background-color: #e0f2f1; }

*.qcb.teal.darken1 {
  background-color: #00897b; }

*.qcb.teal.darken2 {
  background-color: #00796b; }

*.qcb.teal.darken3 {
  background-color: #00695c; }

*.qcb.teal.darken4 {
  background-color: #004d40; }

*.qcb.teal.accent1 {
  background-color: #a7ffeb; }

*.qcb.teal.accent2 {
  background-color: #64ffda; }

*.qcb.teal.accent3 {
  background-color: #1de9b6; }

*.qcb.teal.accent4 {
  background-color: #00bfa5; }

/*-- GREEN BACKGROUND --*/
*.qcb.green {
  background-color: #4caf50; }

*.qcb.green.lighten1 {
  background-color: #4caf50; }

*.qcb.green.lighten2 {
  background-color: #81c784; }

*.qcb.green.lighten3 {
  background-color: #a5d6a7; }

*.qcb.green.lighten4 {
  background-color: #c8e6c9; }

*.qcb.green.lighten5 {
  background-color: #e8f5e9; }

*.qcb.green.darken1 {
  background-color: #43a047; }

*.qcb.green.darken2 {
  background-color: #388e3c; }

*.qcb.green.darken3 {
  background-color: #2e7d32; }

*.qcb.green.darken4 {
  background-color: #1b5e20; }

*.qcb.green.accent1 {
  background-color: #b9f6ca; }

*.qcb.green.accent2 {
  background-color: #69f0ae; }

*.qcb.green.accent3 {
  background-color: #00e676; }

*.qcb.green.accent4 {
  background-color: #00c853; }

/*-- LIGHT-GREEN BACKGROUND --*/
*.qcb.lightgreen {
  background-color: #8bc34a; }

*.qcb.lightgreen.lighten1 {
  background-color: #9ccc65; }

*.qcb.lightgreen.lighten2 {
  background-color: #aed581; }

*.qcb.lightgreen.lighten3 {
  background-color: #c5e1a5; }

*.qcb.lightgreen.lighten4 {
  background-color: #dcedc8; }

*.qcb.lightgreen.lighten5 {
  background-color: #f1f8e9; }

*.qcb.lightgreen.darken1 {
  background-color: #7cb342; }

*.qcb.lightgreen.darken2 {
  background-color: #689f38; }

*.qcb.lightgreen.darken3 {
  background-color: #558b2f; }

*.qcb.lightgreen.darken4 {
  background-color: #33691e; }

*.qcb.lightgreen.accent1 {
  background-color: #ccff90; }

*.qcb.lightgreen.accent2 {
  background-color: #b2ff59; }

*.qcb.lightgreen.accent3 {
  background-color: #76ff03; }

*.qcb.lightgreen.accent4 {
  background-color: #64dd17; }

/*-- LIME BACKGROUND --*/
*.qcb.lime {
  background-color: #cddc39; }

*.qcb.lime.lighten1 {
  background-color: #d4e157; }

*.qcb.lime.lighten2 {
  background-color: #dce775; }

*.qcb.lime.lighten3 {
  background-color: #e6ee9c; }

*.qcb.lime.lighten4 {
  background-color: #f0f4c3; }

*.qcb.lime.lighten5 {
  background-color: #f9fbe7; }

*.qcb.lime.darken1 {
  background-color: #c0ca33; }

*.qcb.lime.darken2 {
  background-color: #afb42b; }

*.qcb.lime.darken3 {
  background-color: #9e9d24; }

*.qcb.lime.darken4 {
  background-color: #827717; }

*.qcb.lime.accent1 {
  background-color: #f4ff81; }

*.qcb.lime.accent2 {
  background-color: #eeff41; }

*.qcb.lime.accent3 {
  background-color: #c6ff00; }

*.qcb.lime.accent4 {
  background-color: #aeea00; }

/*-- YELLOW BACKGROUND --*/
*.qcb.yellow {
  background-color: #ffeb3b; }

*.qcb.yellow.lighten1 {
  background-color: #ffee58; }

*.qcb.yellow.lighten2 {
  background-color: #fff176; }

*.qcb.yellow.lighten3 {
  background-color: #fff59d; }

*.qcb.yellow.lighten4 {
  background-color: #fff9c4; }

*.qcb.yellow.lighten5 {
  background-color: #fffde7; }

*.qcb.yellow.darken1 {
  background-color: #fdd835; }

*.qcb.yellow.darken2 {
  background-color: #fbc02d; }

*.qcb.yellow.darken3 {
  background-color: #f9a825; }

*.qcb.yellow.darken4 {
  background-color: #f57f17; }

*.qcb.yellow.accent1 {
  background-color: #ffff8d; }

*.qcb.yellow.accent2 {
  background-color: #ffff00; }

*.qcb.yellow.accent3 {
  background-color: #ffea00; }

*.qcb.yellow.accent4 {
  background-color: #ffd600; }

/*-- AMBER BACKGROUND --*/
*.qcb.amber {
  background-color: #ffc107; }

*.qcb.amber.lighten1 {
  background-color: #ffca28; }

*.qcb.amber.lighten2 {
  background-color: #ffd54f; }

*.qcb.amber.lighten3 {
  background-color: #ffe082; }

*.qcb.amber.lighten4 {
  background-color: #ffecb3; }

*.qcb.amber.lighten5 {
  background-color: #fff8e1; }

*.qcb.amber.darken1 {
  background-color: #ffb300; }

*.qcb.amber.darken2 {
  background-color: #ffa000; }

*.qcb.amber.darken3 {
  background-color: #ff8f00; }

*.qcb.amber.darken4 {
  background-color: #ff6f00; }

*.qcb.amber.accent1 {
  background-color: #ffe57f; }

*.qcb.amber.accent2 {
  background-color: #ffd740; }

*.qcb.amber.accent3 {
  background-color: #ffc400; }

*.qcb.amber.accent4 {
  background-color: #ffab00; }

/*-- ORANGE BACKGROUND --*/
*.qcb.orange {
  background-color: #ff9800; }

*.qcb.orange.lighten1 {
  background-color: #ffa726; }

*.qcb.orange.lighten2 {
  background-color: #ffb74d; }

*.qcb.orange.lighten3 {
  background-color: #ffcc80; }

*.qcb.orange.lighten4 {
  background-color: #ffe0b2; }

*.qcb.orange.lighten5 {
  background-color: #fff3e0; }

*.qcb.orange.darken1 {
  background-color: #fb8c00; }

*.qcb.orange.darken2 {
  background-color: #f57c00; }

*.qcb.orange.darken3 {
  background-color: #ef6c00; }

*.qcb.orange.darken4 {
  background-color: #e65100; }

*.qcb.orange.accent1 {
  background-color: #ffd180; }

*.qcb.orange.accent2 {
  background-color: #ffab40; }

*.qcb.orange.accent3 {
  background-color: #ff9100; }

*.qcb.orange.accent4 {
  background-color: #ff6d00; }

/*-- DEEP-ORANGE BACKGROUND --*/
*.qcb.deeporange {
  background-color: #ff5722; }

*.qcb.deeporange.lighten1 {
  background-color: #ff7043; }

*.qcb.deeporange.lighten2 {
  background-color: #ff8a65; }

*.qcb.deeporange.lighten3 {
  background-color: #ffab91; }

*.qcb.deeporange.lighten4 {
  background-color: #ffccbc; }

*.qcb.deeporange.lighten5 {
  background-color: #fbe9e7; }

*.qcb.deeporange.darken1 {
  background-color: #f4511e; }

*.qcb.deeporange.darken2 {
  background-color: #e64a19; }

*.qcb.deeporange.darken3 {
  background-color: #d84315; }

*.qcb.deeporange.darken4 {
  background-color: #bf360c; }

*.qcb.deeporange.accent1 {
  background-color: #ff9e80; }

*.qcb.deeporange.accent2 {
  background-color: #ff6e40; }

*.qcb.deeporange.accent3 {
  background-color: #ff3d00; }

*.qcb.deeporange.accent4 {
  background-color: #dd2c00; }

/*-- BROWN BACKGROUND --*/
*.qcb.brown {
  background-color: #795548; }

*.qcb.brown.lighten1 {
  background-color: #8d6e63; }

*.qcb.brown.lighten2 {
  background-color: #a1887f; }

*.qcb.brown.lighten3 {
  background-color: #bcaaa4; }

*.qcb.brown.lighten4 {
  background-color: #d7ccc8; }

*.qcb.brown.lighten5 {
  background-color: #efebe9; }

*.qcb.brown.darken1 {
  background-color: #6d4c41; }

*.qcb.brown.darken2 {
  background-color: #5d4037; }

*.qcb.brown.darken3 {
  background-color: #4e342e; }

*.qcb.brown.darken4 {
  background-color: #3e2723; }

/*-- GREY BACKGROUND --*/
*.qcb.grey {
  background-color: #9e9e9e; }

*.qcb.grey.lighten1 {
  background-color: #bdbdbd; }

*.qcb.grey.lighten2 {
  background-color: #e0e0e0; }

*.qcb.grey.lighten3 {
  background-color: #eeeeee; }

*.qcb.grey.lighten4 {
  background-color: #f5f5f5; }

*.qcb.grey.lighten5 {
  background-color: #fafafa; }

*.qcb.grey.darken1 {
  background-color: #757575; }

*.qcb.grey.darken2 {
  background-color: #616161; }

*.qcb.grey.darken3 {
  background-color: #424242; }

*.qcb.grey.darken4 {
  background-color: #212121; }

/*-- BLUE-GREY BACKGROUND --*/
*.qcb.bluegrey {
  background-color: #607d8b; }

*.qcb.bluegrey.lighten1 {
  background-color: #78909c; }

*.qcb.bluegrey.lighten2 {
  background-color: #90a4ae; }

*.qcb.bluegrey.lighten3 {
  background-color: #b0bec5; }

*.qcb.bluegrey.lighten4 {
  background-color: #cfd8dc; }

*.qcb.bluegrey.lighten5 {
  background-color: #eceff1; }

*.qcb.bluegrey.darken1 {
  background-color: #546e7a; }

*.qcb.bluegrey.darken2 {
  background-color: #455a64; }

*.qcb.bluegrey.darken3 {
  background-color: #37474f; }

*.qcb.bluegrey.darken4 {
  background-color: #263238; }

/*-- BLACK, WHITE and TRANSPARENT BACKGROUND --*/
*.qcb.black {
  background-color: #000; }

*.qcb.white {
  background-color: #fff; }

*.qcb.transparent {
  background-color: transparent; }

/*-- RED TEXT --*/
*.qcb.red-text {
  color: #f44336; }

*.qcb.red-text.text-lighten1 {
  color: #ef5350; }

*.qcb.red-text.text-lighten2 {
  color: #e57373; }

*.qcb.red-text.text-lighten3 {
  color: #ef9a9a; }

*.qcb.red-text.text-lighten4 {
  color: #ffcdd2; }

*.qcb.red-text.text-lighten5 {
  color: #ffebee; }

*.qcb.red-text.text-darken1 {
  color: #e53935; }

*.qcb.red-text.text-darken2 {
  color: #d32f2f; }

*.qcb.red-text.text-darken3 {
  color: #c62828; }

*.qcb.red-text.text-darken4 {
  color: #b71c1c; }

*.qcb.red-text.text-accent1 {
  color: #ff8a80; }

*.qcb.red-text.text-accent2 {
  color: #ff5252; }

*.qcb.red-text.text-accent3 {
  color: #ff1744; }

*.qcb.red-text.text-accent4 {
  color: #d50000; }

/*-- PINK TEXT --*/
*.qcb.pink-text {
  color: #e91e63; }

*.qcb.pink-text.text-lighten1 {
  color: #ec407a; }

*.qcb.pink-text.text-lighten2 {
  color: #f06292; }

*.qcb.pink-text.text-lighten3 {
  color: #f48fb1; }

*.qcb.pink-text.text-lighten4 {
  color: #f8bbd0; }

*.qcb.pink-text.text-lighten5 {
  color: #fce4ec; }

*.qcb.pink-text.text-darken1 {
  color: #d81b60; }

*.qcb.pink-text.text-darken2 {
  color: #c2185b; }

*.qcb.pink-text.text-darken3 {
  color: #ad1457; }

*.qcb.pink-text.text-darken4 {
  color: #880e4f; }

*.qcb.pink-text.text-accent1 {
  color: #ff80ab; }

*.qcb.pink-text.text-accent2 {
  color: #ff4081; }

*.qcb.pink-text.text-accent3 {
  color: #f50057; }

*.qcb.pink-text.text-accent4 {
  color: #c51162; }

/*-- PURPLE TEXT --*/
*.qcb.purple-text {
  color: #9c27b0; }

*.qcb.purple-text.text-lighten1 {
  color: #ab47bc; }

*.qcb.purple-text.text-lighten2 {
  color: #ba68c8; }

*.qcb.purple-text.text-lighten3 {
  color: #ce93d8; }

*.qcb.purple-text.text-lighten4 {
  color: #e1bee7; }

*.qcb.purple-text.text-lighten5 {
  color: #f3e5f5; }

*.qcb.purple-text.text-darken1 {
  color: #8e24aa; }

*.qcb.purple-text.text-darken2 {
  color: #7b1fa2; }

*.qcb.purple-text.text-darken3 {
  color: #6a1b9a; }

*.qcb.purple-text.text-darken4 {
  color: #4a148c; }

*.qcb.purple-text.text-accent1 {
  color: #ea80fc; }

*.qcb.purple-text.text-accent2 {
  color: #e040fb; }

*.qcb.purple-text.text-accent3 {
  color: #d500f9; }

*.qcb.purple-text.text-accent4 {
  color: #aa00ff; }

/*-- DEEP-PURPLE TEXT --*/
*.qcb.deeppurple-text {
  color: #673ab7; }

*.qcb.deeppurple-text.text-lighten1 {
  color: #7e57c2; }

*.qcb.deeppurple-text.text-lighten2 {
  color: #9575cd; }

*.qcb.deeppurple-text.text-lighten3 {
  color: #b39ddb; }

*.qcb.deeppurple-text.text-lighten4 {
  color: #d1c4e9; }

*.qcb.deeppurple-text.text-lighten5 {
  color: #ede7f6; }

*.qcb.deeppurple-text.text-darken1 {
  color: #5e35b1; }

*.qcb.deeppurple-text.text-darken2 {
  color: #512da8; }

*.qcb.deeppurple-text.text-darken3 {
  color: #4527a0; }

*.qcb.deeppurple-text.text-darken4 {
  color: #311b92; }

*.qcb.deeppurple-text.text-accent1 {
  color: #b388ff; }

*.qcb.deeppurple-text.text-accent2 {
  color: #7c4dff; }

*.qcb.deeppurple-text.text-accent3 {
  color: #651fff; }

*.qcb.deeppurple-text.text-accent4 {
  color: #6200ea; }

/*-- INDIGO TEXT --*/
*.qcb.indigo-text {
  color: #3f51b5; }

*.qcb.indigo-text.text-lighten1 {
  color: #5c6bc0; }

*.qcb.indigo-text.text-lighten2 {
  color: #7986cb; }

*.qcb.indigo-text.text-lighten3 {
  color: #9fa8da; }

*.qcb.indigo-text.text-lighten4 {
  color: #c5cae9; }

*.qcb.indigo-text.text-lighten5 {
  color: #e8eaf6; }

*.qcb.indigo-text.text-darken1 {
  color: #3949ab; }

*.qcb.indigo-text.text-darken2 {
  color: #3949ab; }

*.qcb.indigo-text.text-darken3 {
  color: #283593; }

*.qcb.indigo-text.text-darken4 {
  color: #1a237e; }

*.qcb.indigo-text.text-accent1 {
  color: #8c9eff; }

*.qcb.indigo-text.text-accent2 {
  color: #536dfe; }

*.qcb.indigo-text.text-accent3 {
  color: #3d5afe; }

*.qcb.indigo-text.text-accent4 {
  color: #304ffe; }

/*-- BLUE TEXT --*/
*.qcb.blue-text {
  color: #2196f3; }

*.qcb.blue-text.text-lighten1 {
  color: #42a5f5; }

*.qcb.blue-text.text-lighten2 {
  color: #64b5f6; }

*.qcb.blue-text.text-lighten3 {
  color: #90caf9; }

*.qcb.blue-text.text-lighten4 {
  color: #bbdefb; }

*.qcb.blue-text.text-lighten5 {
  color: #e3f2fd; }

*.qcb.blue-text.text-darken1 {
  color: #1e88e5; }

*.qcb.blue-text.text-darken2 {
  color: #1976d2; }

*.qcb.blue-text.text-darken3 {
  color: #1565c0; }

*.qcb.blue-text.text-darken4 {
  color: #0d47a1; }

*.qcb.blue-text.text-accent1 {
  color: #82b1ff; }

*.qcb.blue-text.text-accent2 {
  color: #448aff; }

*.qcb.blue-text.text-accent3 {
  color: #2979ff; }

*.qcb.blue-text.text-accent4 {
  color: #2962ff; }

/*-- LIGHT-BLUE TEXT --*/
*.qcb.lightblue-text {
  color: #03a9f4; }

*.qcb.lightblue-text.text-lighten1 {
  color: #29b6f6; }

*.qcb.lightblue-text.text-lighten2 {
  color: #4fc3f7; }

*.qcb.lightblue-text.text-lighten3 {
  color: #81d4fa; }

*.qcb.lightblue-text.text-lighten4 {
  color: #b3e5fc; }

*.qcb.lightblue-text.text-lighten5 {
  color: #e1f5fe; }

*.qcb.lightblue-text.text-darken1 {
  color: #039be5; }

*.qcb.lightblue-text.text-darken2 {
  color: #0288d1; }

*.qcb.lightblue-text.text-darken3 {
  color: #0277bd; }

*.qcb.lightblue-text.text-darken4 {
  color: #01579b; }

*.qcb.lightblue-text.text-accent1 {
  color: #80d8ff; }

*.qcb.lightblue-text.text-accent2 {
  color: #40c4ff; }

*.qcb.lightblue-text.text-accent3 {
  color: #00b0ff; }

*.qcb.lightblue-text.text-accent4 {
  color: #0091ea; }

/*-- CYAN TEXT --*/
*.qcb.cyan-text {
  color: #00bcd4; }

*.qcb.cyan-text.text-lighten1 {
  color: #26c6da; }

*.qcb.cyan-text.text-lighten2 {
  color: #4dd0e1; }

*.qcb.cyan-text.text-lighten3 {
  color: #80deea; }

*.qcb.cyan-text.text-lighten4 {
  color: #b2ebf2; }

*.qcb.cyan-text.text-lighten5 {
  color: #e0f7fa; }

*.qcb.cyan-text.text-darken1 {
  color: #00acc1; }

*.qcb.cyan-text.text-darken2 {
  color: #0097a7; }

*.qcb.cyan-text.text-darken3 {
  color: #00838f; }

*.qcb.cyan-text.text-darken4 {
  color: #006064; }

*.qcb.cyan-text.text-accent1 {
  color: #84ffff; }

*.qcb.cyan-text.text-accent2 {
  color: #18ffff; }

*.qcb.cyan-text.text-accent3 {
  color: #00e5ff; }

*.qcb.cyan-text.text-accent4 {
  color: #00b8d4; }

/*-- TEAL TEXT --*/
*.qcb.teal-text {
  color: #009688; }

*.qcb.teal-text.text-lighten1 {
  color: #26a69a; }

*.qcb.teal-text.text-lighten2 {
  color: #4db6ac; }

*.qcb.teal-text.text-lighten3 {
  color: #80cbc4; }

*.qcb.teal-text.text-lighten4 {
  color: #b2dfdb; }

*.qcb.teal-text.text-lighten5 {
  color: #e0f2f1; }

*.qcb.teal-text.text-darken1 {
  color: #00897b; }

*.qcb.teal-text.text-darken2 {
  color: #00796b; }

*.qcb.teal-text.text-darken3 {
  color: #00695c; }

*.qcb.teal-text.text-darken4 {
  color: #004d40; }

*.qcb.teal-text.text-accent1 {
  color: #a7ffeb; }

*.qcb.teal-text.text-accent2 {
  color: #64ffda; }

*.qcb.teal-text.text-accent3 {
  color: #1de9b6; }

*.qcb.teal-text.text-accent4 {
  color: #00bfa5; }

/*-- GREEN TEXT --*/
*.qcb.green-text {
  color: #4caf50; }

*.qcb.green-text.text-lighten1 {
  color: #4caf50; }

*.qcb.green-text.text-lighten2 {
  color: #81c784; }

*.qcb.green-text.text-lighten3 {
  color: #a5d6a7; }

*.qcb.green-text.text-lighten4 {
  color: #c8e6c9; }

*.qcb.green-text.text-lighten5 {
  color: #e8f5e9; }

*.qcb.green-text.text-darken1 {
  color: #43a047; }

*.qcb.green-text.text-darken2 {
  color: #388e3c; }

*.qcb.green-text.text-darken3 {
  color: #2e7d32; }

*.qcb.green-text.text-darken4 {
  color: #1b5e20; }

*.qcb.green-text.text-accent1 {
  color: #b9f6ca; }

*.qcb.green-text.text-accent2 {
  color: #69f0ae; }

*.qcb.green-text.text-accent3 {
  color: #00e676; }

*.qcb.green-text.text-accent4 {
  color: #00c853; }

/*-- LIGHT-GREEN TEXT --*/
*.qcb.lightgreen-text {
  color: #8bc34a; }

*.qcb.lightgreen-text.text-lighten1 {
  color: #9ccc65; }

*.qcb.lightgreen-text.text-lighten2 {
  color: #aed581; }

*.qcb.lightgreen-text.text-lighten3 {
  color: #c5e1a5; }

*.qcb.lightgreen-text.text-lighten4 {
  color: #dcedc8; }

*.qcb.lightgreen-text.text-lighten5 {
  color: #f1f8e9; }

*.qcb.lightgreen-text.text-darken1 {
  color: #7cb342; }

*.qcb.lightgreen-text.text-darken2 {
  color: #689f38; }

*.qcb.lightgreen-text.text-darken3 {
  color: #558b2f; }

*.qcb.lightgreen-text.text-darken4 {
  color: #33691e; }

*.qcb.lightgreen-text.text-accent1 {
  color: #ccff90; }

*.qcb.lightgreen-text.text-accent2 {
  color: #b2ff59; }

*.qcb.lightgreen-text.text-accent3 {
  color: #76ff03; }

*.qcb.lightgreen-text.text-accent4 {
  color: #64dd17; }

/*-- LIME TEXT --*/
*.qcb.lime-text {
  color: #cddc39; }

*.qcb.lime-text.text-lighten1 {
  color: #d4e157; }

*.qcb.lime-text.text-lighten2 {
  color: #dce775; }

*.qcb.lime-text.text-lighten3 {
  color: #e6ee9c; }

*.qcb.lime-text.text-lighten4 {
  color: #f0f4c3; }

*.qcb.lime-text.text-lighten5 {
  color: #f9fbe7; }

*.qcb.lime-text.text-darken1 {
  color: #c0ca33; }

*.qcb.lime-text.text-darken2 {
  color: #afb42b; }

*.qcb.lime-text.text-darken3 {
  color: #9e9d24; }

*.qcb.lime-text.text-darken4 {
  color: #827717; }

*.qcb.lime-text.text-accent1 {
  color: #f4ff81; }

*.qcb.lime-text.text-accent2 {
  color: #eeff41; }

*.qcb.lime-text.text-accent3 {
  color: #c6ff00; }

*.qcb.lime-text.text-accent4 {
  color: #aeea00; }

/*-- YELLOW TEXT --*/
*.qcb.yellow-text {
  color: #ffeb3b; }

*.qcb.yellow-text.text-lighten1 {
  color: #ffee58; }

*.qcb.yellow-text.text-lighten2 {
  color: #fff176; }

*.qcb.yellow-text.text-lighten3 {
  color: #fff59d; }

*.qcb.yellow-text.text-lighten4 {
  color: #fff9c4; }

*.qcb.yellow-text.text-lighten5 {
  color: #fffde7; }

*.qcb.yellow-text.text-darken1 {
  color: #fdd835; }

*.qcb.yellow-text.text-darken2 {
  color: #fbc02d; }

*.qcb.yellow-text.text-darken3 {
  color: #f9a825; }

*.qcb.yellow-text.text-darken4 {
  color: #f57f17; }

*.qcb.yellow-text.text-accent1 {
  color: #ffff8d; }

*.qcb.yellow-text.text-accent2 {
  color: #ffff00; }

*.qcb.yellow-text.text-accent3 {
  color: #ffea00; }

*.qcb.yellow-text.text-accent4 {
  color: #ffd600; }

/*-- AMBER TEXT --*/
*.qcb.amber-text {
  color: #ffc107; }

*.qcb.amber-text.text-lighten1 {
  color: #ffca28; }

*.qcb.amber-text.text-lighten2 {
  color: #ffd54f; }

*.qcb.amber-text.text-lighten3 {
  color: #ffe082; }

*.qcb.amber-text.text-lighten4 {
  color: #ffecb3; }

*.qcb.amber-text.text-lighten5 {
  color: #fff8e1; }

*.qcb.amber-text.text-darken1 {
  color: #ffb300; }

*.qcb.amber-text.text-darken2 {
  color: #ffa000; }

*.qcb.amber-text.text-darken3 {
  color: #ff8f00; }

*.qcb.amber-text.text-darken4 {
  color: #ff6f00; }

*.qcb.amber-text.text-accent1 {
  color: #ffe57f; }

*.qcb.amber-text.text-accent2 {
  color: #ffd740; }

*.qcb.amber-text.text-accent3 {
  color: #ffc400; }

*.qcb.amber-text.text-accent4 {
  color: #ffab00; }

/*-- ORANGE TEXT --*/
*.qcb.orange-text {
  color: #ff9800; }

*.qcb.orange-text.text-lighten1 {
  color: #ffa726; }

*.qcb.orange-text.text-lighten2 {
  color: #ffb74d; }

*.qcb.orange-text.text-lighten3 {
  color: #ffcc80; }

*.qcb.orange-text.text-lighten4 {
  color: #ffe0b2; }

*.qcb.orange-text.text-lighten5 {
  color: #fff3e0; }

*.qcb.orange-text.text-darken1 {
  color: #fb8c00; }

*.qcb.orange-text.text-darken2 {
  color: #f57c00; }

*.qcb.orange-text.text-darken3 {
  color: #ef6c00; }

*.qcb.orange-text.text-darken4 {
  color: #e65100; }

*.qcb.orange-text.text-accent1 {
  color: #ffd180; }

*.qcb.orange-text.text-accent2 {
  color: #ffab40; }

*.qcb.orange-text.text-accent3 {
  color: #ff9100; }

*.qcb.orange-text.text-accent4 {
  color: #ff6d00; }

/*-- DEEP-ORANGE TEXT --*/
*.qcb.deeporange-text {
  color: #ff5722; }

*.qcb.deeporange-text.text-lighten1 {
  color: #ff7043; }

*.qcb.deeporange-text.text-lighten2 {
  color: #ff8a65; }

*.qcb.deeporange-text.text-lighten3 {
  color: #ffab91; }

*.qcb.deeporange-text.text-lighten4 {
  color: #ffccbc; }

*.qcb.deeporange-text.text-lighten5 {
  color: #fbe9e7; }

*.qcb.deeporange-text.text-darken1 {
  color: #f4511e; }

*.qcb.deeporange-text.text-darken2 {
  color: #e64a19; }

*.qcb.deeporange-text.text-darken3 {
  color: #d84315; }

*.qcb.deeporange-text.text-darken4 {
  color: #bf360c; }

*.qcb.deeporange-text.text-accent1 {
  color: #ff9e80; }

*.qcb.deeporange-text.text-accent2 {
  color: #ff6e40; }

*.qcb.deeporange-text.text-accent3 {
  color: #ff3d00; }

*.qcb.deeporange-text.text-accent4 {
  color: #dd2c00; }

/*-- BROWN TEXT --*/
*.qcb.brown-text {
  color: #795548; }

*.qcb.brown-text.text-lighten1 {
  color: #8d6e63; }

*.qcb.brown-text.text-lighten2 {
  color: #a1887f; }

*.qcb.brown-text.text-lighten3 {
  color: #bcaaa4; }

*.qcb.brown-text.text-lighten4 {
  color: #d7ccc8; }

*.qcb.brown-text.text-lighten5 {
  color: #efebe9; }

*.qcb.brown-text.text-darken1 {
  color: #6d4c41; }

*.qcb.brown-text.text-darken2 {
  color: #5d4037; }

*.qcb.brown-text.text-darken3 {
  color: #4e342e; }

*.qcb.brown-text.text-darken4 {
  color: #3e2723; }

/*-- GREY TEXT --*/
*.qcb.grey-text {
  color: #9e9e9e; }

*.qcb.grey-text.text-lighten1 {
  color: #bdbdbd; }

*.qcb.grey-text.text-lighten2 {
  color: #e0e0e0; }

*.qcb.grey-text.text-lighten3 {
  color: #eeeeee; }

*.qcb.grey-text.text-lighten4 {
  color: #f5f5f5; }

*.qcb.grey-text.text-lighten5 {
  color: #fafafa; }

*.qcb.grey-text.text-darken1 {
  color: #757575; }

*.qcb.grey-text.text-darken2 {
  color: #616161; }

*.qcb.grey-text.text-darken3 {
  color: #424242; }

*.qcb.grey-text.text-darken4 {
  color: #212121; }

/*-- BLUE-GREY TEXT --*/
*.qcb.bluegrey-text {
  color: #607d8b; }

*.qcb.bluegrey-text.text-lighten1 {
  color: #78909c; }

*.qcb.bluegrey-text.text-lighten2 {
  color: #90a4ae; }

*.qcb.bluegrey-text.text-lighten3 {
  color: #b0bec5; }

*.qcb.bluegrey-text.text-lighten4 {
  color: #cfd8dc; }

*.qcb.bluegrey-text.text-lighten5 {
  color: #eceff1; }

*.qcb.bluegrey-text.text-darken1 {
  color: #546e7a; }

*.qcb.bluegrey-text.text-darken2 {
  color: #455a64; }

*.qcb.bluegrey-text.text-darken3 {
  color: #37474f; }

*.qcb.bluegrey-text.text-darken4 {
  color: #263238; }

/*-- BLACK, WHITE and TRANSPARENT TEXT --*/
*.qcb.black-text {
  color: #000; }

*.qcb.white-text {
  color: #fff; }

*.qcb.transparent-text {
  color: transparent; }

/*-- RED BORDER --*/
*.qcb.red-border {
  border-color: #f44336; }

*.qcb.red-border.border-lighten1 {
  border-color: #ef5350; }

*.qcb.red-border.border-lighten2 {
  border-color: #e57373; }

*.qcb.red-border.border-lighten3 {
  border-color: #ef9a9a; }

*.qcb.red-border.border-lighten4 {
  border-color: #ffcdd2; }

*.qcb.red-border.border-lighten5 {
  border-color: #ffebee; }

*.qcb.red-border.border-darken1 {
  border-color: #e53935; }

*.qcb.red-border.border-darken2 {
  border-color: #d32f2f; }

*.qcb.red-border.border-darken3 {
  border-color: #c62828; }

*.qcb.red-border.border-darken4 {
  border-color: #b71c1c; }

*.qcb.red-border.border-accent1 {
  border-color: #ff8a80; }

*.qcb.red-border.border-accent2 {
  border-color: #ff5252; }

*.qcb.red-border.border-accent3 {
  border-color: #ff1744; }

*.qcb.red-border.border-accent4 {
  border-color: #d50000; }

/*-- PINK BORDER --*/
*.qcb.pink-border {
  border-color: #e91e63; }

*.qcb.pink-border.border-lighten1 {
  border-color: #ec407a; }

*.qcb.pink-border.border-lighten2 {
  border-color: #f06292; }

*.qcb.pink-border.border-lighten3 {
  border-color: #f48fb1; }

*.qcb.pink-border.border-lighten4 {
  border-color: #f8bbd0; }

*.qcb.pink-border.border-lighten5 {
  border-color: #fce4ec; }

*.qcb.pink-border.border-darken1 {
  border-color: #d81b60; }

*.qcb.pink-border.border-darken2 {
  border-color: #c2185b; }

*.qcb.pink-border.border-darken3 {
  border-color: #ad1457; }

*.qcb.pink-border.border-darken4 {
  border-color: #880e4f; }

*.qcb.pink-border.border-accent1 {
  border-color: #ff80ab; }

*.qcb.pink-border.border-accent2 {
  border-color: #ff4081; }

*.qcb.pink-border.border-accent3 {
  border-color: #f50057; }

*.qcb.pink-border.border-accent4 {
  border-color: #c51162; }

/*-- PURPLE BORDER --*/
*.qcb.purple-border {
  border-color: #9c27b0; }

*.qcb.purple-border.border-lighten1 {
  border-color: #ab47bc; }

*.qcb.purple-border.border-lighten2 {
  border-color: #ba68c8; }

*.qcb.purple-border.border-lighten3 {
  border-color: #ce93d8; }

*.qcb.purple-border.border-lighten4 {
  border-color: #e1bee7; }

*.qcb.purple-border.border-lighten5 {
  border-color: #f3e5f5; }

*.qcb.purple-border.border-darken1 {
  border-color: #8e24aa; }

*.qcb.purple-border.border-darken2 {
  border-color: #7b1fa2; }

*.qcb.purple-border.border-darken3 {
  border-color: #6a1b9a; }

*.qcb.purple-border.border-darken4 {
  border-color: #4a148c; }

*.qcb.purple-border.border-accent1 {
  border-color: #ea80fc; }

*.qcb.purple-border.border-accent2 {
  border-color: #e040fb; }

*.qcb.purple-border.border-accent3 {
  border-color: #d500f9; }

*.qcb.purple-border.border-accent4 {
  border-color: #aa00ff; }

/*-- DEEP-PURPLE BORDER --*/
*.qcb.deeppurple-border {
  border-color: #673ab7; }

*.qcb.deeppurple-border.border-lighten1 {
  border-color: #7e57c2; }

*.qcb.deeppurple-border.border-lighten2 {
  border-color: #9575cd; }

*.qcb.deeppurple-border.border-lighten3 {
  border-color: #b39ddb; }

*.qcb.deeppurple-border.border-lighten4 {
  border-color: #d1c4e9; }

*.qcb.deeppurple-border.border-lighten5 {
  border-color: #ede7f6; }

*.qcb.deeppurple-border.border-darken1 {
  border-color: #5e35b1; }

*.qcb.deeppurple-border.border-darken2 {
  border-color: #512da8; }

*.qcb.deeppurple-border.border-darken3 {
  border-color: #4527a0; }

*.qcb.deeppurple-border.border-darken4 {
  border-color: #311b92; }

*.qcb.deeppurple-border.border-accent1 {
  border-color: #b388ff; }

*.qcb.deeppurple-border.border-accent2 {
  border-color: #7c4dff; }

*.qcb.deeppurple-border.border-accent3 {
  border-color: #651fff; }

*.qcb.deeppurple-border.border-accent4 {
  border-color: #6200ea; }

/*-- INDIGO BORDER --*/
*.qcb.indigo-border {
  border-color: #3f51b5; }

*.qcb.indigo-border.border-lighten1 {
  border-color: #5c6bc0; }

*.qcb.indigo-border.border-lighten2 {
  border-color: #7986cb; }

*.qcb.indigo-border.border-lighten3 {
  border-color: #9fa8da; }

*.qcb.indigo-border.border-lighten4 {
  border-color: #c5cae9; }

*.qcb.indigo-border.border-lighten5 {
  border-color: #e8eaf6; }

*.qcb.indigo-border.border-darken1 {
  border-color: #3949ab; }

*.qcb.indigo-border.border-darken2 {
  border-color: #3949ab; }

*.qcb.indigo-border.border-darken3 {
  border-color: #283593; }

*.qcb.indigo-border.border-darken4 {
  border-color: #1a237e; }

*.qcb.indigo-border.border-accent1 {
  border-color: #8c9eff; }

*.qcb.indigo-border.border-accent2 {
  border-color: #536dfe; }

*.qcb.indigo-border.border-accent3 {
  border-color: #3d5afe; }

*.qcb.indigo-border.border-accent4 {
  border-color: #304ffe; }

/*-- BLUE BORDER --*/
*.qcb.blue-border {
  border-color: #2196f3; }

*.qcb.blue-border.border-lighten1 {
  border-color: #42a5f5; }

*.qcb.blue-border.border-lighten2 {
  border-color: #64b5f6; }

*.qcb.blue-border.border-lighten3 {
  border-color: #90caf9; }

*.qcb.blue-border.border-lighten4 {
  border-color: #bbdefb; }

*.qcb.blue-border.border-lighten5 {
  border-color: #e3f2fd; }

*.qcb.blue-border.border-darken1 {
  border-color: #1e88e5; }

*.qcb.blue-border.border-darken2 {
  border-color: #1976d2; }

*.qcb.blue-border.border-darken3 {
  border-color: #1565c0; }

*.qcb.blue-border.border-darken4 {
  border-color: #0d47a1; }

*.qcb.blue-border.border-accent1 {
  border-color: #82b1ff; }

*.qcb.blue-border.border-accent2 {
  border-color: #448aff; }

*.qcb.blue-border.border-accent3 {
  border-color: #2979ff; }

*.qcb.blue-border.border-accent4 {
  border-color: #2962ff; }

/*-- LIGHT-BLUE BORDER --*/
*.qcb.lightblue-border {
  border-color: #03a9f4; }

*.qcb.lightblue-border.border-lighten1 {
  border-color: #29b6f6; }

*.qcb.lightblue-border.border-lighten2 {
  border-color: #4fc3f7; }

*.qcb.lightblue-border.border-lighten3 {
  border-color: #81d4fa; }

*.qcb.lightblue-border.border-lighten4 {
  border-color: #b3e5fc; }

*.qcb.lightblue-border.border-lighten5 {
  border-color: #e1f5fe; }

*.qcb.lightblue-border.border-darken1 {
  border-color: #039be5; }

*.qcb.lightblue-border.border-darken2 {
  border-color: #0288d1; }

*.qcb.lightblue-border.border-darken3 {
  border-color: #0277bd; }

*.qcb.lightblue-border.border-darken4 {
  border-color: #01579b; }

*.qcb.lightblue-border.border-accent1 {
  border-color: #80d8ff; }

*.qcb.lightblue-border.border-accent2 {
  border-color: #40c4ff; }

*.qcb.lightblue-border.border-accent3 {
  border-color: #00b0ff; }

*.qcb.lightblue-border.border-accent4 {
  border-color: #0091ea; }

/*-- CYAN BORDER --*/
*.qcb.cyan-border {
  border-color: #00bcd4; }

*.qcb.cyan-border.border-lighten1 {
  border-color: #26c6da; }

*.qcb.cyan-border.border-lighten2 {
  border-color: #4dd0e1; }

*.qcb.cyan-border.border-lighten3 {
  border-color: #80deea; }

*.qcb.cyan-border.border-lighten4 {
  border-color: #b2ebf2; }

*.qcb.cyan-border.border-lighten5 {
  border-color: #e0f7fa; }

*.qcb.cyan-border.border-darken1 {
  border-color: #00acc1; }

*.qcb.cyan-border.border-darken2 {
  border-color: #0097a7; }

*.qcb.cyan-border.border-darken3 {
  border-color: #00838f; }

*.qcb.cyan-border.border-darken4 {
  border-color: #006064; }

*.qcb.cyan-border.border-accent1 {
  border-color: #84ffff; }

*.qcb.cyan-border.border-accent2 {
  border-color: #18ffff; }

*.qcb.cyan-border.border-accent3 {
  border-color: #00e5ff; }

*.qcb.cyan-border.border-accent4 {
  border-color: #00b8d4; }

/*-- TEAL BORDER --*/
*.qcb.teal-border {
  border-color: #009688; }

*.qcb.teal-border.border-lighten1 {
  border-color: #26a69a; }

*.qcb.teal-border.border-lighten2 {
  border-color: #4db6ac; }

*.qcb.teal-border.border-lighten3 {
  border-color: #80cbc4; }

*.qcb.teal-border.border-lighten4 {
  border-color: #b2dfdb; }

*.qcb.teal-border.border-lighten5 {
  border-color: #e0f2f1; }

*.qcb.teal-border.border-darken1 {
  border-color: #00897b; }

*.qcb.teal-border.border-darken2 {
  border-color: #00796b; }

*.qcb.teal-border.border-darken3 {
  border-color: #00695c; }

*.qcb.teal-border.border-darken4 {
  border-color: #004d40; }

*.qcb.teal-border.border-accent1 {
  border-color: #a7ffeb; }

*.qcb.teal-border.border-accent2 {
  border-color: #64ffda; }

*.qcb.teal-border.border-accent3 {
  border-color: #1de9b6; }

*.qcb.teal-border.border-accent4 {
  border-color: #00bfa5; }

/*-- GREEN BORDER --*/
*.qcb.green-border {
  border-color: #4caf50; }

*.qcb.green-border.border-lighten1 {
  border-color: #4caf50; }

*.qcb.green-border.border-lighten2 {
  border-color: #81c784; }

*.qcb.green-border.border-lighten3 {
  border-color: #a5d6a7; }

*.qcb.green-border.border-lighten4 {
  border-color: #c8e6c9; }

*.qcb.green-border.border-lighten5 {
  border-color: #e8f5e9; }

*.qcb.green-border.border-darken1 {
  border-color: #43a047; }

*.qcb.green-border.border-darken2 {
  border-color: #388e3c; }

*.qcb.green-border.border-darken3 {
  border-color: #2e7d32; }

*.qcb.green-border.border-darken4 {
  border-color: #1b5e20; }

*.qcb.green-border.border-accent1 {
  border-color: #b9f6ca; }

*.qcb.green-border.border-accent2 {
  border-color: #69f0ae; }

*.qcb.green-border.border-accent3 {
  border-color: #00e676; }

*.qcb.green-border.border-accent4 {
  border-color: #00c853; }

/*-- LIGHT-GREEN BORDER --*/
*.qcb.lightgreen-border {
  border-color: #8bc34a; }

*.qcb.lightgreen-border.border-lighten1 {
  border-color: #9ccc65; }

*.qcb.lightgreen-border.border-lighten2 {
  border-color: #aed581; }

*.qcb.lightgreen-border.border-lighten3 {
  border-color: #c5e1a5; }

*.qcb.lightgreen-border.border-lighten4 {
  border-color: #dcedc8; }

*.qcb.lightgreen-border.border-lighten5 {
  border-color: #f1f8e9; }

*.qcb.lightgreen-border.border-darken1 {
  border-color: #7cb342; }

*.qcb.lightgreen-border.border-darken2 {
  border-color: #689f38; }

*.qcb.lightgreen-border.border-darken3 {
  border-color: #558b2f; }

*.qcb.lightgreen-border.border-darken4 {
  border-color: #33691e; }

*.qcb.lightgreen-border.border-accent1 {
  border-color: #ccff90; }

*.qcb.lightgreen-border.border-accent2 {
  border-color: #b2ff59; }

*.qcb.lightgreen-border.border-accent3 {
  border-color: #76ff03; }

*.qcb.lightgreen-border.border-accent4 {
  border-color: #64dd17; }

/*-- LIME BORDER --*/
*.qcb.lime-border {
  border-color: #cddc39; }

*.qcb.lime-border.border-lighten1 {
  border-color: #d4e157; }

*.qcb.lime-border.border-lighten2 {
  border-color: #dce775; }

*.qcb.lime-border.border-lighten3 {
  border-color: #e6ee9c; }

*.qcb.lime-border.border-lighten4 {
  border-color: #f0f4c3; }

*.qcb.lime-border.border-lighten5 {
  border-color: #f9fbe7; }

*.qcb.lime-border.border-darken1 {
  border-color: #c0ca33; }

*.qcb.lime-border.border-darken2 {
  border-color: #afb42b; }

*.qcb.lime-border.border-darken3 {
  border-color: #9e9d24; }

*.qcb.lime-border.border-darken4 {
  border-color: #827717; }

*.qcb.lime-border.border-accent1 {
  border-color: #f4ff81; }

*.qcb.lime-border.border-accent2 {
  border-color: #eeff41; }

*.qcb.lime-border.border-accent3 {
  border-color: #c6ff00; }

*.qcb.lime-border.border-accent4 {
  border-color: #aeea00; }

/*-- YELLOW BORDER --*/
*.qcb.yellow-border {
  border-color: #ffeb3b; }

*.qcb.yellow-border.border-lighten1 {
  border-color: #ffee58; }

*.qcb.yellow-border.border-lighten2 {
  border-color: #fff176; }

*.qcb.yellow-border.border-lighten3 {
  border-color: #fff59d; }

*.qcb.yellow-border.border-lighten4 {
  border-color: #fff9c4; }

*.qcb.yellow-border.border-lighten5 {
  border-color: #fffde7; }

*.qcb.yellow-border.border-darken1 {
  border-color: #fdd835; }

*.qcb.yellow-border.border-darken2 {
  border-color: #fbc02d; }

*.qcb.yellow-border.border-darken3 {
  border-color: #f9a825; }

*.qcb.yellow-border.border-darken4 {
  border-color: #f57f17; }

*.qcb.yellow-border.border-accent1 {
  border-color: #ffff8d; }

*.qcb.yellow-border.border-accent2 {
  border-color: #ffff00; }

*.qcb.yellow-border.border-accent3 {
  border-color: #ffea00; }

*.qcb.yellow-border.border-accent4 {
  border-color: #ffd600; }

/*-- AMBER BORDER --*/
*.qcb.amber-border {
  border-color: #ffc107; }

*.qcb.amber-border.border-lighten1 {
  border-color: #ffca28; }

*.qcb.amber-border.border-lighten2 {
  border-color: #ffd54f; }

*.qcb.amber-border.border-lighten3 {
  border-color: #ffe082; }

*.qcb.amber-border.border-lighten4 {
  border-color: #ffecb3; }

*.qcb.amber-border.border-lighten5 {
  border-color: #fff8e1; }

*.qcb.amber-border.border-darken1 {
  border-color: #ffb300; }

*.qcb.amber-border.border-darken2 {
  border-color: #ffa000; }

*.qcb.amber-border.border-darken3 {
  border-color: #ff8f00; }

*.qcb.amber-border.border-darken4 {
  border-color: #ff6f00; }

*.qcb.amber-border.border-accent1 {
  border-color: #ffe57f; }

*.qcb.amber-border.border-accent2 {
  border-color: #ffd740; }

*.qcb.amber-border.border-accent3 {
  border-color: #ffc400; }

*.qcb.amber-border.border-accent4 {
  border-color: #ffab00; }

/*-- ORANGE BORDER --*/
*.qcb.orange-border {
  border-color: #ff9800; }

*.qcb.orange-border.border-lighten1 {
  border-color: #ffa726; }

*.qcb.orange-border.border-lighten2 {
  border-color: #ffb74d; }

*.qcb.orange-border.border-lighten3 {
  border-color: #ffcc80; }

*.qcb.orange-border.border-lighten4 {
  border-color: #ffe0b2; }

*.qcb.orange-border.border-lighten5 {
  border-color: #fff3e0; }

*.qcb.orange-border.border-darken1 {
  border-color: #fb8c00; }

*.qcb.orange-border.border-darken2 {
  border-color: #f57c00; }

*.qcb.orange-border.border-darken3 {
  border-color: #ef6c00; }

*.qcb.orange-border.border-darken4 {
  border-color: #e65100; }

*.qcb.orange-border.border-accent1 {
  border-color: #ffd180; }

*.qcb.orange-border.border-accent2 {
  border-color: #ffab40; }

*.qcb.orange-border.border-accent3 {
  border-color: #ff9100; }

*.qcb.orange-border.border-accent4 {
  border-color: #ff6d00; }

/*-- DEEP-ORANGE BORDER --*/
*.qcb.deeporange-border {
  border-color: #ff5722; }

*.qcb.deeporange-border.border-lighten1 {
  border-color: #ff7043; }

*.qcb.deeporange-border.border-lighten2 {
  border-color: #ff8a65; }

*.qcb.deeporange-border.border-lighten3 {
  border-color: #ffab91; }

*.qcb.deeporange-border.border-lighten4 {
  border-color: #ffccbc; }

*.qcb.deeporange-border.border-lighten5 {
  border-color: #fbe9e7; }

*.qcb.deeporange-border.border-darken1 {
  border-color: #f4511e; }

*.qcb.deeporange-border.border-darken2 {
  border-color: #e64a19; }

*.qcb.deeporange-border.border-darken3 {
  border-color: #d84315; }

*.qcb.deeporange-border.border-darken4 {
  border-color: #bf360c; }

*.qcb.deeporange-border.border-accent1 {
  border-color: #ff9e80; }

*.qcb.deeporange-border.border-accent2 {
  border-color: #ff6e40; }

*.qcb.deeporange-border.border-accent3 {
  border-color: #ff3d00; }

*.qcb.deeporange-border.border-accent4 {
  border-color: #dd2c00; }

/*-- BROWN BORDER --*/
*.qcb.brown-border {
  border-color: #795548; }

*.qcb.brown-border.border-lighten1 {
  border-color: #8d6e63; }

*.qcb.brown-border.border-lighten2 {
  border-color: #a1887f; }

*.qcb.brown-border.border-lighten3 {
  border-color: #bcaaa4; }

*.qcb.brown-border.border-lighten4 {
  border-color: #d7ccc8; }

*.qcb.brown-border.border-lighten5 {
  border-color: #efebe9; }

*.qcb.brown-border.border-darken1 {
  border-color: #6d4c41; }

*.qcb.brown-border.border-darken2 {
  border-color: #5d4037; }

*.qcb.brown-border.border-darken3 {
  border-color: #4e342e; }

*.qcb.brown-border.border-darken4 {
  border-color: #3e2723; }

/*-- GREY BORDER --*/
*.qcb.grey-border {
  border-color: #9e9e9e; }

*.qcb.grey-border.border-lighten1 {
  border-color: #bdbdbd; }

*.qcb.grey-border.border-lighten2 {
  border-color: #e0e0e0; }

*.qcb.grey-border.border-lighten3 {
  border-color: #eeeeee; }

*.qcb.grey-border.border-lighten4 {
  border-color: #f5f5f5; }

*.qcb.grey-border.border-lighten5 {
  border-color: #fafafa; }

*.qcb.grey-border.border-darken1 {
  border-color: #757575; }

*.qcb.grey-border.border-darken2 {
  border-color: #616161; }

*.qcb.grey-border.border-darken3 {
  border-color: #424242; }

*.qcb.grey-border.border-darken4 {
  border-color: #212121; }

/*-- BLUE-GREY BORDER --*/
*.qcb.bluegrey-border {
  border-color: #607d8b; }

*.qcb.bluegrey-border.border-lighten1 {
  border-color: #78909c; }

*.qcb.bluegrey-border.border-lighten2 {
  border-color: #90a4ae; }

*.qcb.bluegrey-border.border-lighten3 {
  border-color: #b0bec5; }

*.qcb.bluegrey-border.border-lighten4 {
  border-color: #cfd8dc; }

*.qcb.bluegrey-border.border-lighten5 {
  border-color: #eceff1; }

*.qcb.bluegrey-border.border-darken1 {
  border-color: #546e7a; }

*.qcb.bluegrey-border.border-darken2 {
  border-color: #455a64; }

*.qcb.bluegrey-border.border-darken3 {
  border-color: #37474f; }

*.qcb.bluegrey-border.border-darken4 {
  border-color: #263238; }

/*-- BLACK, WHITE and TRANSPARENT BORDER --*/
*.qcb.black-border {
  border-color: #000; }

*.qcb.white-border {
  border-color: #fff; }

*.qcb.transparent-border {
  border-color: transparent; }

.portrait *.qcb.wp0 {
  width: 0%; }
.portrait *.qcb.wp1 {
  width: 5%; }
.portrait *.qcb.wp2 {
  width: 10%; }
.portrait *.qcb.wp3 {
  width: 15%; }
.portrait *.qcb.wp4 {
  width: 20%; }
.portrait *.qcb.wp5 {
  width: 25%; }
.portrait *.qcb.wp6 {
  width: 30%; }
.portrait *.qcb.wp7 {
  width: 35%; }
.portrait *.qcb.wp8 {
  width: 40%; }
.portrait *.qcb.wp9 {
  width: 45%; }
.portrait *.qcb.wp10 {
  width: 50%; }
.portrait *.qcb.wp11 {
  width: 55%; }
.portrait *.qcb.wp12 {
  width: 60%; }
.portrait *.qcb.wp13 {
  width: 65%; }
.portrait *.qcb.wp14 {
  width: 70%; }
.portrait *.qcb.wp15 {
  width: 75%; }
.portrait *.qcb.wp16 {
  width: 80%; }
.portrait *.qcb.wp17 {
  width: 85%; }
.portrait *.qcb.wp18 {
  width: 90%; }
.portrait *.qcb.wp19 {
  width: 95%; }
.portrait *.qcb.wp20 {
  width: 100%; }
.portrait *.qcb.hp0 {
  height: 0%; }
.portrait *.qcb.hp1 {
  height: 5%; }
.portrait *.qcb.hp2 {
  height: 10%; }
.portrait *.qcb.hp3 {
  height: 15%; }
.portrait *.qcb.hp4 {
  height: 20%; }
.portrait *.qcb.hp5 {
  height: 25%; }
.portrait *.qcb.hp6 {
  height: 30%; }
.portrait *.qcb.hp7 {
  height: 35%; }
.portrait *.qcb.hp8 {
  height: 40%; }
.portrait *.qcb.hp9 {
  height: 45%; }
.portrait *.qcb.hp10 {
  height: 50%; }
.portrait *.qcb.hp11 {
  height: 55%; }
.portrait *.qcb.hp12 {
  height: 60%; }
.portrait *.qcb.hp13 {
  height: 65%; }
.portrait *.qcb.hp14 {
  height: 70%; }
.portrait *.qcb.hp15 {
  height: 75%; }
.portrait *.qcb.hp16 {
  height: 80%; }
.portrait *.qcb.hp17 {
  height: 85%; }
.portrait *.qcb.hp18 {
  height: 90%; }
.portrait *.qcb.hp19 {
  height: 95%; }
.portrait *.qcb.hp20 {
  height: 100%; }
.portrait *.qcb.tp0 {
  top: 0%; }
.portrait *.qcb.tp1 {
  top: 5%; }
.portrait *.qcb.tp2 {
  top: 10%; }
.portrait *.qcb.tp3 {
  top: 15%; }
.portrait *.qcb.tp4 {
  top: 20%; }
.portrait *.qcb.tp5 {
  top: 25%; }
.portrait *.qcb.tp6 {
  top: 30%; }
.portrait *.qcb.tp7 {
  top: 35%; }
.portrait *.qcb.tp8 {
  top: 40%; }
.portrait *.qcb.tp9 {
  top: 45%; }
.portrait *.qcb.tp10 {
  top: 50%; }
.portrait *.qcb.tp11 {
  top: 55%; }
.portrait *.qcb.tp12 {
  top: 60%; }
.portrait *.qcb.tp13 {
  top: 65%; }
.portrait *.qcb.tp14 {
  top: 70%; }
.portrait *.qcb.tp15 {
  top: 75%; }
.portrait *.qcb.tp16 {
  top: 80%; }
.portrait *.qcb.tp17 {
  top: 85%; }
.portrait *.qcb.tp18 {
  top: 90%; }
.portrait *.qcb.tp19 {
  top: 95%; }
.portrait *.qcb.tp20 {
  top: 100%; }
.portrait *.qcb.lp0 {
  left: 0%; }
.portrait *.qcb.lp1 {
  left: 5%; }
.portrait *.qcb.lp2 {
  left: 10%; }
.portrait *.qcb.lp3 {
  left: 15%; }
.portrait *.qcb.lp4 {
  left: 20%; }
.portrait *.qcb.lp5 {
  left: 25%; }
.portrait *.qcb.lp6 {
  left: 30%; }
.portrait *.qcb.lp7 {
  left: 35%; }
.portrait *.qcb.lp8 {
  left: 40%; }
.portrait *.qcb.lp9 {
  left: 45%; }
.portrait *.qcb.lp10 {
  left: 50%; }
.portrait *.qcb.lp11 {
  left: 55%; }
.portrait *.qcb.lp12 {
  left: 60%; }
.portrait *.qcb.lp13 {
  left: 65%; }
.portrait *.qcb.lp14 {
  left: 70%; }
.portrait *.qcb.lp15 {
  left: 75%; }
.portrait *.qcb.lp16 {
  left: 80%; }
.portrait *.qcb.lp17 {
  left: 85%; }
.portrait *.qcb.lp18 {
  left: 90%; }
.portrait *.qcb.lp19 {
  left: 95%; }
.portrait *.qcb.lp20 {
  left: 100%; }
.portrait *.qcb.fp-c100 {
  font-size: 1em; }
.portrait *.qcb.fp-c110 {
  font-size: 1.1em; }
.portrait *.qcb.fp-c120 {
  font-size: 1.2em; }
.portrait *.qcb.fp-c130 {
  font-size: 1.3em; }
.portrait *.qcb.fp-c140 {
  font-size: 1.4em; }
.portrait *.qcb.fp-c150 {
  font-size: 1.5em; }
.portrait *.qcb.fp-c160 {
  font-size: 1.6em; }
.portrait *.qcb.fp-c170 {
  font-size: 1.7em; }
.portrait *.qcb.fp-c180 {
  font-size: 1.8em; }
.portrait *.qcb.fp-c190 {
  font-size: 1.9em; }
.portrait *.qcb.fp-c200 {
  font-size: 2em; }
.portrait *.qcb.fp-c210 {
  font-size: 2.1em; }
.portrait *.qcb.fp-c220 {
  font-size: 2.2em; }
.portrait *.qcb.fp-c230 {
  font-size: 2.3em; }
.portrait *.qcb.fp-c240 {
  font-size: 2.4em; }
.portrait *.qcb.fp-c250 {
  font-size: 2.5em; }
.portrait *.qcb.fp-c260 {
  font-size: 2.6em; }
.portrait *.qcb.fp-c270 {
  font-size: 2.7em; }
.portrait *.qcb.fp-c280 {
  font-size: 2.8em; }
.portrait *.qcb.fp-c290 {
  font-size: 2.9em; }
.portrait *.qcb.fp-c300 {
  font-size: 3em; }
.portrait *.qcb.fp-c325 {
  font-size: 3.25em; }
.portrait *.qcb.fp-c350 {
  font-size: 3.5em; }
.portrait *.qcb.fp-c375 {
  font-size: 3.75em; }
.portrait *.qcb.fp-c400 {
  font-size: 4em; }
.portrait *.qcb.fp-c425 {
  font-size: 4.25em; }
.portrait *.qcb.fp-c450 {
  font-size: 4.5em; }
.portrait *.qcb.fp-c475 {
  font-size: 4.75em; }
.portrait *.qcb.fp-c500 {
  font-size: 5em; }
.portrait *.qcb.fp-c525 {
  font-size: 5.25em; }
.portrait *.qcb.fp-c550 {
  font-size: 5.5em; }
.portrait *.qcb.fp-c575 {
  font-size: 5.75em; }
.portrait *.qcb.fp-c600 {
  font-size: 6em; }
.portrait *.qcb.fp-p100 {
  font-size: 1rem; }
.portrait *.qcb.fp-p110 {
  font-size: 1.1rem; }
.portrait *.qcb.fp-p120 {
  font-size: 1.2rem; }
.portrait *.qcb.fp-p130 {
  font-size: 1.3rem; }
.portrait *.qcb.fp-p140 {
  font-size: 1.4rem; }
.portrait *.qcb.fp-p150 {
  font-size: 1.5rem; }
.portrait *.qcb.fp-p160 {
  font-size: 1.6rem; }
.portrait *.qcb.fp-p170 {
  font-size: 1.7rem; }
.portrait *.qcb.fp-p180 {
  font-size: 1.8rem; }
.portrait *.qcb.fp-p190 {
  font-size: 1.9rem; }
.portrait *.qcb.fp-p200 {
  font-size: 2rem; }
.portrait *.qcb.fp-p210 {
  font-size: 2.1rem; }
.portrait *.qcb.fp-p220 {
  font-size: 2.2rem; }
.portrait *.qcb.fp-p230 {
  font-size: 2.3rem; }
.portrait *.qcb.fp-p240 {
  font-size: 2.4rem; }
.portrait *.qcb.fp-p250 {
  font-size: 2.5rem; }
.portrait *.qcb.fp-p260 {
  font-size: 2.6rem; }
.portrait *.qcb.fp-p270 {
  font-size: 2.7rem; }
.portrait *.qcb.fp-p280 {
  font-size: 2.8rem; }
.portrait *.qcb.fp-p290 {
  font-size: 2.9rem; }
.portrait *.qcb.fp-p300 {
  font-size: 3rem; }
.portrait *.qcb.fp-p325 {
  font-size: 3.25rem; }
.portrait *.qcb.fp-p350 {
  font-size: 3.5rem; }
.portrait *.qcb.fp-p375 {
  font-size: 3.75rem; }
.portrait *.qcb.fp-p400 {
  font-size: 4rem; }
.portrait *.qcb.fp-p425 {
  font-size: 4.25rem; }
.portrait *.qcb.fp-p450 {
  font-size: 4.5rem; }
.portrait *.qcb.fp-p475 {
  font-size: 4.75rem; }
.portrait *.qcb.fp-p500 {
  font-size: 5rem; }
.portrait *.qcb.fp-p525 {
  font-size: 5.25rem; }
.portrait *.qcb.fp-p550 {
  font-size: 5.5rem; }
.portrait *.qcb.fp-p575 {
  font-size: 5.75rem; }
.portrait *.qcb.fp-p600 {
  font-size: 6rem; }
.portrait *.qcb.pp-a {
  position: absolute; }
.portrait *.qcb.pp-r {
  position: relative; }
.portrait *.qcb.pp-f {
  position: fixed; }
.portrait *.qcb.pp-s {
  position: static; }

.landscape *.qcb.wl0 {
  width: 0%; }
.landscape *.qcb.wl1 {
  width: 5%; }
.landscape *.qcb.wl2 {
  width: 10%; }
.landscape *.qcb.wl3 {
  width: 15%; }
.landscape *.qcb.wl4 {
  width: 20%; }
.landscape *.qcb.wl5 {
  width: 25%; }
.landscape *.qcb.wl6 {
  width: 30%; }
.landscape *.qcb.wl7 {
  width: 35%; }
.landscape *.qcb.wl8 {
  width: 40%; }
.landscape *.qcb.wl9 {
  width: 45%; }
.landscape *.qcb.wl10 {
  width: 50%; }
.landscape *.qcb.wl11 {
  width: 55%; }
.landscape *.qcb.wl12 {
  width: 60%; }
.landscape *.qcb.wl13 {
  width: 65%; }
.landscape *.qcb.wl14 {
  width: 70%; }
.landscape *.qcb.wl15 {
  width: 75%; }
.landscape *.qcb.wl16 {
  width: 80%; }
.landscape *.qcb.wl17 {
  width: 85%; }
.landscape *.qcb.wl18 {
  width: 90%; }
.landscape *.qcb.wl19 {
  width: 95%; }
.landscape *.qcb.wl20 {
  width: 100%; }
.landscape *.qcb.hl0 {
  height: 0%; }
.landscape *.qcb.hl1 {
  height: 5%; }
.landscape *.qcb.hl2 {
  height: 10%; }
.landscape *.qcb.hl3 {
  height: 15%; }
.landscape *.qcb.hl4 {
  height: 20%; }
.landscape *.qcb.hl5 {
  height: 25%; }
.landscape *.qcb.hl6 {
  height: 30%; }
.landscape *.qcb.hl7 {
  height: 35%; }
.landscape *.qcb.hl8 {
  height: 40%; }
.landscape *.qcb.hl9 {
  height: 45%; }
.landscape *.qcb.hl10 {
  height: 50%; }
.landscape *.qcb.hl11 {
  height: 55%; }
.landscape *.qcb.hl12 {
  height: 60%; }
.landscape *.qcb.hl13 {
  height: 65%; }
.landscape *.qcb.hl14 {
  height: 70%; }
.landscape *.qcb.hl15 {
  height: 75%; }
.landscape *.qcb.hl16 {
  height: 80%; }
.landscape *.qcb.hl17 {
  height: 85%; }
.landscape *.qcb.hl18 {
  height: 90%; }
.landscape *.qcb.hl19 {
  height: 95%; }
.landscape *.qcb.hl20 {
  height: 100%; }
.landscape *.qcb.tl0 {
  top: 0%; }
.landscape *.qcb.tl1 {
  top: 5%; }
.landscape *.qcb.tl2 {
  top: 10%; }
.landscape *.qcb.tl3 {
  top: 15%; }
.landscape *.qcb.tl4 {
  top: 20%; }
.landscape *.qcb.tl5 {
  top: 25%; }
.landscape *.qcb.tl6 {
  top: 30%; }
.landscape *.qcb.tl7 {
  top: 35%; }
.landscape *.qcb.tl8 {
  top: 40%; }
.landscape *.qcb.tl9 {
  top: 45%; }
.landscape *.qcb.tl10 {
  top: 50%; }
.landscape *.qcb.tl11 {
  top: 55%; }
.landscape *.qcb.tl12 {
  top: 60%; }
.landscape *.qcb.tl13 {
  top: 65%; }
.landscape *.qcb.tl14 {
  top: 70%; }
.landscape *.qcb.tl15 {
  top: 75%; }
.landscape *.qcb.tl16 {
  top: 80%; }
.landscape *.qcb.tl17 {
  top: 85%; }
.landscape *.qcb.tl18 {
  top: 90%; }
.landscape *.qcb.tl19 {
  top: 95%; }
.landscape *.qcb.tl20 {
  top: 100%; }
.landscape *.qcb.ll0 {
  left: 0%; }
.landscape *.qcb.ll1 {
  left: 5%; }
.landscape *.qcb.ll2 {
  left: 10%; }
.landscape *.qcb.ll3 {
  left: 15%; }
.landscape *.qcb.ll4 {
  left: 20%; }
.landscape *.qcb.ll5 {
  left: 25%; }
.landscape *.qcb.ll6 {
  left: 30%; }
.landscape *.qcb.ll7 {
  left: 35%; }
.landscape *.qcb.ll8 {
  left: 40%; }
.landscape *.qcb.ll9 {
  left: 45%; }
.landscape *.qcb.ll10 {
  left: 50%; }
.landscape *.qcb.ll11 {
  left: 55%; }
.landscape *.qcb.ll12 {
  left: 60%; }
.landscape *.qcb.ll13 {
  left: 65%; }
.landscape *.qcb.ll14 {
  left: 70%; }
.landscape *.qcb.ll15 {
  left: 75%; }
.landscape *.qcb.ll16 {
  left: 80%; }
.landscape *.qcb.ll17 {
  left: 85%; }
.landscape *.qcb.ll18 {
  left: 90%; }
.landscape *.qcb.ll19 {
  left: 95%; }
.landscape *.qcb.ll20 {
  left: 100%; }
.landscape *.qcb.fl-c100 {
  font-size: 1em; }
.landscape *.qcb.fl-c110 {
  font-size: 1.1em; }
.landscape *.qcb.fl-c120 {
  font-size: 1.2em; }
.landscape *.qcb.fl-c130 {
  font-size: 1.3em; }
.landscape *.qcb.fl-c140 {
  font-size: 1.4em; }
.landscape *.qcb.fl-c150 {
  font-size: 1.5em; }
.landscape *.qcb.fl-c160 {
  font-size: 1.6em; }
.landscape *.qcb.fl-c170 {
  font-size: 1.7em; }
.landscape *.qcb.fl-c180 {
  font-size: 1.8em; }
.landscape *.qcb.fl-c190 {
  font-size: 1.9em; }
.landscape *.qcb.fl-c200 {
  font-size: 2em; }
.landscape *.qcb.fl-c210 {
  font-size: 2.1em; }
.landscape *.qcb.fl-c220 {
  font-size: 2.2em; }
.landscape *.qcb.fl-c230 {
  font-size: 2.3em; }
.landscape *.qcb.fl-c240 {
  font-size: 2.4em; }
.landscape *.qcb.fl-c250 {
  font-size: 2.5em; }
.landscape *.qcb.fl-c260 {
  font-size: 2.6em; }
.landscape *.qcb.fl-c270 {
  font-size: 2.7em; }
.landscape *.qcb.fl-c280 {
  font-size: 2.8em; }
.landscape *.qcb.fl-c290 {
  font-size: 2.9em; }
.landscape *.qcb.fl-c300 {
  font-size: 3em; }
.landscape *.qcb.fl-c325 {
  font-size: 3.25em; }
.landscape *.qcb.fl-c350 {
  font-size: 3.5em; }
.landscape *.qcb.fl-c375 {
  font-size: 3.75em; }
.landscape *.qcb.fl-c400 {
  font-size: 4em; }
.landscape *.qcb.fl-c425 {
  font-size: 4.25em; }
.landscape *.qcb.fl-c450 {
  font-size: 4.5em; }
.landscape *.qcb.fl-c475 {
  font-size: 4.75em; }
.landscape *.qcb.fl-c500 {
  font-size: 5em; }
.landscape *.qcb.fl-c525 {
  font-size: 5.25em; }
.landscape *.qcb.fl-c550 {
  font-size: 5.5em; }
.landscape *.qcb.fl-c575 {
  font-size: 5.75em; }
.landscape *.qcb.fl-c600 {
  font-size: 6em; }
.landscape *.qcb.fl-p100 {
  font-size: 1rem; }
.landscape *.qcb.fl-p110 {
  font-size: 1.1rem; }
.landscape *.qcb.fl-p120 {
  font-size: 1.2rem; }
.landscape *.qcb.fl-p130 {
  font-size: 1.3rem; }
.landscape *.qcb.fl-p140 {
  font-size: 1.4rem; }
.landscape *.qcb.fl-p150 {
  font-size: 1.5rem; }
.landscape *.qcb.fl-p160 {
  font-size: 1.6rem; }
.landscape *.qcb.fl-p170 {
  font-size: 1.7rem; }
.landscape *.qcb.fl-p180 {
  font-size: 1.8rem; }
.landscape *.qcb.fl-p190 {
  font-size: 1.9rem; }
.landscape *.qcb.fl-p200 {
  font-size: 2rem; }
.landscape *.qcb.fl-p210 {
  font-size: 2.1rem; }
.landscape *.qcb.fl-p220 {
  font-size: 2.2rem; }
.landscape *.qcb.fl-p230 {
  font-size: 2.3rem; }
.landscape *.qcb.fl-p240 {
  font-size: 2.4rem; }
.landscape *.qcb.fl-p250 {
  font-size: 2.5rem; }
.landscape *.qcb.fl-p260 {
  font-size: 2.6rem; }
.landscape *.qcb.fl-p270 {
  font-size: 2.7rem; }
.landscape *.qcb.fl-p280 {
  font-size: 2.8rem; }
.landscape *.qcb.fl-p290 {
  font-size: 2.9rem; }
.landscape *.qcb.fl-p300 {
  font-size: 3rem; }
.landscape *.qcb.fl-p325 {
  font-size: 3.25rem; }
.landscape *.qcb.fl-p350 {
  font-size: 3.5rem; }
.landscape *.qcb.fl-p375 {
  font-size: 3.75rem; }
.landscape *.qcb.fl-p400 {
  font-size: 4rem; }
.landscape *.qcb.fl-p425 {
  font-size: 4.25rem; }
.landscape *.qcb.fl-p450 {
  font-size: 4.5rem; }
.landscape *.qcb.fl-p475 {
  font-size: 4.75rem; }
.landscape *.qcb.fl-p500 {
  font-size: 5rem; }
.landscape *.qcb.fl-p525 {
  font-size: 5.25rem; }
.landscape *.qcb.fl-p550 {
  font-size: 5.5rem; }
.landscape *.qcb.fl-p575 {
  font-size: 5.75rem; }
.landscape *.qcb.fl-p600 {
  font-size: 6rem; }
.landscape *.pl-a {
  position: absolute; }
.landscape *.pl-r {
  position: relative; }
.landscape *.pl-f {
  position: fixed; }
.landscape *.pl-s {
  position: static; }

body {
  background-color: #689f38; }

/*# sourceMappingURL=templatestrap.css.map */
