/*-- RED TEXT --*/
*.qcb.red-text { color: $red; }

*.qcb.red-text.text-lighten1 { color: $red-l1; }
*.qcb.red-text.text-lighten2 { color: $red-l2; }
*.qcb.red-text.text-lighten3 { color: $red-l3; }
*.qcb.red-text.text-lighten4 { color: $red-l4; }
*.qcb.red-text.text-lighten5 { color: $red-l5; }

*.qcb.red-text.text-darken1 { color: $red-d1; }
*.qcb.red-text.text-darken2 { color: $red-d2; }
*.qcb.red-text.text-darken3 { color: $red-d3; }
*.qcb.red-text.text-darken4 { color: $red-d4; }

*.qcb.red-text.text-accent1 { color: $red-a1; }
*.qcb.red-text.text-accent2 { color: $red-a2; }
*.qcb.red-text.text-accent3 { color: $red-a3; }
*.qcb.red-text.text-accent4 { color: $red-a4; }

/*-- PINK TEXT --*/
*.qcb.pink-text { color: $pink; }

*.qcb.pink-text.text-lighten1 { color: $pink-l1; }
*.qcb.pink-text.text-lighten2 { color: $pink-l2; }
*.qcb.pink-text.text-lighten3 { color: $pink-l3; }
*.qcb.pink-text.text-lighten4 { color: $pink-l4; }
*.qcb.pink-text.text-lighten5 { color: $pink-l5; }

*.qcb.pink-text.text-darken1 { color: $pink-d1; }
*.qcb.pink-text.text-darken2 { color: $pink-d2; }
*.qcb.pink-text.text-darken3 { color: $pink-d3; }
*.qcb.pink-text.text-darken4 { color: $pink-d4; }

*.qcb.pink-text.text-accent1 { color: $pink-a1; }
*.qcb.pink-text.text-accent2 { color: $pink-a2; }
*.qcb.pink-text.text-accent3 { color: $pink-a3; }
*.qcb.pink-text.text-accent4 { color: $pink-a4; }

/*-- PURPLE TEXT --*/
*.qcb.purple-text { color: $purple; }

*.qcb.purple-text.text-lighten1 { color: $purple-l1; }
*.qcb.purple-text.text-lighten2 { color: $purple-l2; }
*.qcb.purple-text.text-lighten3 { color: $purple-l3; }
*.qcb.purple-text.text-lighten4 { color: $purple-l4; }
*.qcb.purple-text.text-lighten5 { color: $purple-l5; }

*.qcb.purple-text.text-darken1 { color: $purple-d1; }
*.qcb.purple-text.text-darken2 { color: $purple-d2; }
*.qcb.purple-text.text-darken3 { color: $purple-d3; }
*.qcb.purple-text.text-darken4 { color: $purple-d4; }

*.qcb.purple-text.text-accent1 { color: $purple-a1; }
*.qcb.purple-text.text-accent2 { color: $purple-a2; }
*.qcb.purple-text.text-accent3 { color: $purple-a3; }
*.qcb.purple-text.text-accent4 { color: $purple-a4; }

/*-- DEEP-PURPLE TEXT --*/
*.qcb.deeppurple-text { color: $deeppurple; }

*.qcb.deeppurple-text.text-lighten1 { color: $deeppurple-l1; }
*.qcb.deeppurple-text.text-lighten2 { color: $deeppurple-l2; }
*.qcb.deeppurple-text.text-lighten3 { color: $deeppurple-l3; }
*.qcb.deeppurple-text.text-lighten4 { color: $deeppurple-l4; }
*.qcb.deeppurple-text.text-lighten5 { color: $deeppurple-l5; }

*.qcb.deeppurple-text.text-darken1 { color: $deeppurple-d1; }
*.qcb.deeppurple-text.text-darken2 { color: $deeppurple-d2; }
*.qcb.deeppurple-text.text-darken3 { color: $deeppurple-d3; }
*.qcb.deeppurple-text.text-darken4 { color: $deeppurple-d4; }

*.qcb.deeppurple-text.text-accent1 { color: $deeppurple-a1; }
*.qcb.deeppurple-text.text-accent2 { color: $deeppurple-a2; }
*.qcb.deeppurple-text.text-accent3 { color: $deeppurple-a3; }
*.qcb.deeppurple-text.text-accent4 { color: $deeppurple-a4; }

/*-- INDIGO TEXT --*/
*.qcb.indigo-text { color: $indigo; }

*.qcb.indigo-text.text-lighten1 { color: $indigo-l1; }
*.qcb.indigo-text.text-lighten2 { color: $indigo-l2; }
*.qcb.indigo-text.text-lighten3 { color: $indigo-l3; }
*.qcb.indigo-text.text-lighten4 { color: $indigo-l4; }
*.qcb.indigo-text.text-lighten5 { color: $indigo-l5; }

*.qcb.indigo-text.text-darken1 { color: $indigo-d1; }
*.qcb.indigo-text.text-darken2 { color: $indigo-d2; }
*.qcb.indigo-text.text-darken3 { color: $indigo-d3; }
*.qcb.indigo-text.text-darken4 { color: $indigo-d4; }

*.qcb.indigo-text.text-accent1 { color: $indigo-a1; }
*.qcb.indigo-text.text-accent2 { color: $indigo-a2; }
*.qcb.indigo-text.text-accent3 { color: $indigo-a3; }
*.qcb.indigo-text.text-accent4 { color: $indigo-a4; }

/*-- BLUE TEXT --*/
*.qcb.blue-text { color: $blue; }

*.qcb.blue-text.text-lighten1 { color: $blue-l1; }
*.qcb.blue-text.text-lighten2 { color: $blue-l2; }
*.qcb.blue-text.text-lighten3 { color: $blue-l3; }
*.qcb.blue-text.text-lighten4 { color: $blue-l4; }
*.qcb.blue-text.text-lighten5 { color: $blue-l5; }

*.qcb.blue-text.text-darken1 { color: $blue-d1; }
*.qcb.blue-text.text-darken2 { color: $blue-d2; }
*.qcb.blue-text.text-darken3 { color: $blue-d3; }
*.qcb.blue-text.text-darken4 { color: $blue-d4; }

*.qcb.blue-text.text-accent1 { color: $blue-a1; }
*.qcb.blue-text.text-accent2 { color: $blue-a2; }
*.qcb.blue-text.text-accent3 { color: $blue-a3; }
*.qcb.blue-text.text-accent4 { color: $blue-a4; }

/*-- LIGHT-BLUE TEXT --*/
*.qcb.lightblue-text { color: $lightblue; }

*.qcb.lightblue-text.text-lighten1 { color: $lightblue-l1; }
*.qcb.lightblue-text.text-lighten2 { color: $lightblue-l2; }
*.qcb.lightblue-text.text-lighten3 { color: $lightblue-l3; }
*.qcb.lightblue-text.text-lighten4 { color: $lightblue-l4; }
*.qcb.lightblue-text.text-lighten5 { color: $lightblue-l5; }

*.qcb.lightblue-text.text-darken1 { color: $lightblue-d1; }
*.qcb.lightblue-text.text-darken2 { color: $lightblue-d2; }
*.qcb.lightblue-text.text-darken3 { color: $lightblue-d3; }
*.qcb.lightblue-text.text-darken4 { color: $lightblue-d4; }

*.qcb.lightblue-text.text-accent1 { color: $lightblue-a1; }
*.qcb.lightblue-text.text-accent2 { color: $lightblue-a2; }
*.qcb.lightblue-text.text-accent3 { color: $lightblue-a3; }
*.qcb.lightblue-text.text-accent4 { color: $lightblue-a4; }

/*-- CYAN TEXT --*/
*.qcb.cyan-text { color: $cyan; }

*.qcb.cyan-text.text-lighten1 { color: $cyan-l1; }
*.qcb.cyan-text.text-lighten2 { color: $cyan-l2; }
*.qcb.cyan-text.text-lighten3 { color: $cyan-l3; }
*.qcb.cyan-text.text-lighten4 { color: $cyan-l4; }
*.qcb.cyan-text.text-lighten5 { color: $cyan-l5; }

*.qcb.cyan-text.text-darken1 { color: $cyan-d1; }
*.qcb.cyan-text.text-darken2 { color: $cyan-d2; }
*.qcb.cyan-text.text-darken3 { color: $cyan-d3; }
*.qcb.cyan-text.text-darken4 { color: $cyan-d4; }

*.qcb.cyan-text.text-accent1 { color: $cyan-a1; }
*.qcb.cyan-text.text-accent2 { color: $cyan-a2; }
*.qcb.cyan-text.text-accent3 { color: $cyan-a3; }
*.qcb.cyan-text.text-accent4 { color: $cyan-a4; }

/*-- TEAL TEXT --*/
*.qcb.teal-text { color: $teal; }

*.qcb.teal-text.text-lighten1 { color: $teal-l1; }
*.qcb.teal-text.text-lighten2 { color: $teal-l2; }
*.qcb.teal-text.text-lighten3 { color: $teal-l3; }
*.qcb.teal-text.text-lighten4 { color: $teal-l4; }
*.qcb.teal-text.text-lighten5 { color: $teal-l5; }

*.qcb.teal-text.text-darken1 { color: $teal-d1; }
*.qcb.teal-text.text-darken2 { color: $teal-d2; }
*.qcb.teal-text.text-darken3 { color: $teal-d3; }
*.qcb.teal-text.text-darken4 { color: $teal-d4; }

*.qcb.teal-text.text-accent1 { color: $teal-a1; }
*.qcb.teal-text.text-accent2 { color: $teal-a2; }
*.qcb.teal-text.text-accent3 { color: $teal-a3; }
*.qcb.teal-text.text-accent4 { color: $teal-a4; }

/*-- GREEN TEXT --*/
*.qcb.green-text { color: $green; }

*.qcb.green-text.text-lighten1 { color: $green-l1; }
*.qcb.green-text.text-lighten2 { color: $green-l2; }
*.qcb.green-text.text-lighten3 { color: $green-l3; }
*.qcb.green-text.text-lighten4 { color: $green-l4; }
*.qcb.green-text.text-lighten5 { color: $green-l5; }

*.qcb.green-text.text-darken1 { color: $green-d1; }
*.qcb.green-text.text-darken2 { color: $green-d2; }
*.qcb.green-text.text-darken3 { color: $green-d3; }
*.qcb.green-text.text-darken4 { color: $green-d4; }

*.qcb.green-text.text-accent1 { color: $green-a1; }
*.qcb.green-text.text-accent2 { color: $green-a2; }
*.qcb.green-text.text-accent3 { color: $green-a3; }
*.qcb.green-text.text-accent4 { color: $green-a4; }

/*-- LIGHT-GREEN TEXT --*/
*.qcb.lightgreen-text { color: $lightgreen; }

*.qcb.lightgreen-text.text-lighten1 { color: $lightgreen-l1; }
*.qcb.lightgreen-text.text-lighten2 { color: $lightgreen-l2; }
*.qcb.lightgreen-text.text-lighten3 { color: $lightgreen-l3; }
*.qcb.lightgreen-text.text-lighten4 { color: $lightgreen-l4; }
*.qcb.lightgreen-text.text-lighten5 { color: $lightgreen-l5; }

*.qcb.lightgreen-text.text-darken1 { color: $lightgreen-d1; }
*.qcb.lightgreen-text.text-darken2 { color: $lightgreen-d2; }
*.qcb.lightgreen-text.text-darken3 { color: $lightgreen-d3; }
*.qcb.lightgreen-text.text-darken4 { color: $lightgreen-d4; }

*.qcb.lightgreen-text.text-accent1 { color: $lightgreen-a1; }
*.qcb.lightgreen-text.text-accent2 { color: $lightgreen-a2; }
*.qcb.lightgreen-text.text-accent3 { color: $lightgreen-a3; }
*.qcb.lightgreen-text.text-accent4 { color: $lightgreen-a4; }

/*-- LIME TEXT --*/
*.qcb.lime-text { color: $lime; }

*.qcb.lime-text.text-lighten1 { color: $lime-l1; }
*.qcb.lime-text.text-lighten2 { color: $lime-l2; }
*.qcb.lime-text.text-lighten3 { color: $lime-l3; }
*.qcb.lime-text.text-lighten4 { color: $lime-l4; }
*.qcb.lime-text.text-lighten5 { color: $lime-l5; }

*.qcb.lime-text.text-darken1 { color: $lime-d1; }
*.qcb.lime-text.text-darken2 { color: $lime-d2; }
*.qcb.lime-text.text-darken3 { color: $lime-d3; }
*.qcb.lime-text.text-darken4 { color: $lime-d4; }

*.qcb.lime-text.text-accent1 { color: $lime-a1; }
*.qcb.lime-text.text-accent2 { color: $lime-a2; }
*.qcb.lime-text.text-accent3 { color: $lime-a3; }
*.qcb.lime-text.text-accent4 { color: $lime-a4; }

/*-- YELLOW TEXT --*/
*.qcb.yellow-text { color: $yellow; }

*.qcb.yellow-text.text-lighten1 { color: $yellow-l1; }
*.qcb.yellow-text.text-lighten2 { color: $yellow-l2; }
*.qcb.yellow-text.text-lighten3 { color: $yellow-l3; }
*.qcb.yellow-text.text-lighten4 { color: $yellow-l4; }
*.qcb.yellow-text.text-lighten5 { color: $yellow-l5; }

*.qcb.yellow-text.text-darken1 { color: $yellow-d1; }
*.qcb.yellow-text.text-darken2 { color: $yellow-d2; }
*.qcb.yellow-text.text-darken3 { color: $yellow-d3; }
*.qcb.yellow-text.text-darken4 { color: $yellow-d4; }

*.qcb.yellow-text.text-accent1 { color: $yellow-a1; }
*.qcb.yellow-text.text-accent2 { color: $yellow-a2; }
*.qcb.yellow-text.text-accent3 { color: $yellow-a3; }
*.qcb.yellow-text.text-accent4 { color: $yellow-a4; }

/*-- AMBER TEXT --*/
*.qcb.amber-text { color: $amber; }

*.qcb.amber-text.text-lighten1 { color: $amber-l1; }
*.qcb.amber-text.text-lighten2 { color: $amber-l2; }
*.qcb.amber-text.text-lighten3 { color: $amber-l3; }
*.qcb.amber-text.text-lighten4 { color: $amber-l4; }
*.qcb.amber-text.text-lighten5 { color: $amber-l5; }

*.qcb.amber-text.text-darken1 { color: $amber-d1; }
*.qcb.amber-text.text-darken2 { color: $amber-d2; }
*.qcb.amber-text.text-darken3 { color: $amber-d3; }
*.qcb.amber-text.text-darken4 { color: $amber-d4; }

*.qcb.amber-text.text-accent1 { color: $amber-a1; }
*.qcb.amber-text.text-accent2 { color: $amber-a2; }
*.qcb.amber-text.text-accent3 { color: $amber-a3; }
*.qcb.amber-text.text-accent4 { color: $amber-a4; }

/*-- ORANGE TEXT --*/
*.qcb.orange-text { color: $orange; }

*.qcb.orange-text.text-lighten1 { color: $orange-l1; }
*.qcb.orange-text.text-lighten2 { color: $orange-l2; }
*.qcb.orange-text.text-lighten3 { color: $orange-l3; }
*.qcb.orange-text.text-lighten4 { color: $orange-l4; }
*.qcb.orange-text.text-lighten5 { color: $orange-l5; }

*.qcb.orange-text.text-darken1 { color: $orange-d1; }
*.qcb.orange-text.text-darken2 { color: $orange-d2; }
*.qcb.orange-text.text-darken3 { color: $orange-d3; }
*.qcb.orange-text.text-darken4 { color: $orange-d4; }

*.qcb.orange-text.text-accent1 { color: $orange-a1; }
*.qcb.orange-text.text-accent2 { color: $orange-a2; }
*.qcb.orange-text.text-accent3 { color: $orange-a3; }
*.qcb.orange-text.text-accent4 { color: $orange-a4; }

/*-- DEEP-ORANGE TEXT --*/
*.qcb.deeporange-text { color: $deeporange; }

*.qcb.deeporange-text.text-lighten1 { color: $deeporange-l1; }
*.qcb.deeporange-text.text-lighten2 { color: $deeporange-l2; }
*.qcb.deeporange-text.text-lighten3 { color: $deeporange-l3; }
*.qcb.deeporange-text.text-lighten4 { color: $deeporange-l4; }
*.qcb.deeporange-text.text-lighten5 { color: $deeporange-l5; }

*.qcb.deeporange-text.text-darken1 { color: $deeporange-d1; }
*.qcb.deeporange-text.text-darken2 { color: $deeporange-d2; }
*.qcb.deeporange-text.text-darken3 { color: $deeporange-d3; }
*.qcb.deeporange-text.text-darken4 { color: $deeporange-d4; }

*.qcb.deeporange-text.text-accent1 { color: $deeporange-a1; }
*.qcb.deeporange-text.text-accent2 { color: $deeporange-a2; }
*.qcb.deeporange-text.text-accent3 { color: $deeporange-a3; }
*.qcb.deeporange-text.text-accent4 { color: $deeporange-a4; }

/*-- BROWN TEXT --*/
*.qcb.brown-text { color: $brown; }

*.qcb.brown-text.text-lighten1 { color: $brown-l1; }
*.qcb.brown-text.text-lighten2 { color: $brown-l2; }
*.qcb.brown-text.text-lighten3 { color: $brown-l3; }
*.qcb.brown-text.text-lighten4 { color: $brown-l4; }
*.qcb.brown-text.text-lighten5 { color: $brown-l5; }

*.qcb.brown-text.text-darken1 { color: $brown-d1; }
*.qcb.brown-text.text-darken2 { color: $brown-d2; }
*.qcb.brown-text.text-darken3 { color: $brown-d3; }
*.qcb.brown-text.text-darken4 { color: $brown-d4; }

/*-- GREY TEXT --*/
*.qcb.grey-text { color: $grey; }

*.qcb.grey-text.text-lighten1 { color: $grey-l1; }
*.qcb.grey-text.text-lighten2 { color: $grey-l2; }
*.qcb.grey-text.text-lighten3 { color: $grey-l3; }
*.qcb.grey-text.text-lighten4 { color: $grey-l4; }
*.qcb.grey-text.text-lighten5 { color: $grey-l5; }

*.qcb.grey-text.text-darken1 { color: $grey-d1; }
*.qcb.grey-text.text-darken2 { color: $grey-d2; }
*.qcb.grey-text.text-darken3 { color: $grey-d3; }
*.qcb.grey-text.text-darken4 { color: $grey-d4; }

/*-- BLUE-GREY TEXT --*/
*.qcb.bluegrey-text { color: $bluegrey; }

*.qcb.bluegrey-text.text-lighten1 { color: $bluegrey-l1; }
*.qcb.bluegrey-text.text-lighten2 { color: $bluegrey-l2; }
*.qcb.bluegrey-text.text-lighten3 { color: $bluegrey-l3; }
*.qcb.bluegrey-text.text-lighten4 { color: $bluegrey-l4; }
*.qcb.bluegrey-text.text-lighten5 { color: $bluegrey-l5; }

*.qcb.bluegrey-text.text-darken1 { color: $bluegrey-d1; }
*.qcb.bluegrey-text.text-darken2 { color: $bluegrey-d2; }
*.qcb.bluegrey-text.text-darken3 { color: $bluegrey-d3; }
*.qcb.bluegrey-text.text-darken4 { color: $bluegrey-d4; }

/*-- BLACK, WHITE and TRANSPARENT TEXT --*/
*.qcb.black-text { color: $black; }
*.qcb.white-text { color: $white; }
*.qcb.transparent-text { color: $transparent; }