/*-- red BACKGROUND --*/
*.ts[ts-text="red"] { color: $red; }

*.ts[ts-text="red lighten1"] { color: $red-l1; }
*.ts[ts-text="red lighten2"] { color: $red-l2; }
*.ts[ts-text="red lighten3"] { color: $red-l3; }
*.ts[ts-text="red lighten4"] { color: $red-l4; }
*.ts[ts-text="red lighten5"] { color: $red-l5; }

*.ts[ts-text="red darken1"] { color: $red-d1; }
*.ts[ts-text="red darken2"] { color: $red-d2; }
*.ts[ts-text="red darken3"] { color: $red-d3; }
*.ts[ts-text="red darken4"] { color: $red-d4; }

*.ts[ts-text="red accent1"] { color: $red-a1; }
*.ts[ts-text="red accent2"] { color: $red-a2; }
*.ts[ts-text="red accent3"] { color: $red-a3; }
*.ts[ts-text="red accent4"] { color: $red-a4; }

/*-- pink BACKGROUND --*/
*.ts[ts-text="pink"] { color: $pink; }

*.ts[ts-text="pink lighten1"] { color: $pink-l1; }
*.ts[ts-text="pink lighten2"] { color: $pink-l2; }
*.ts[ts-text="pink lighten3"] { color: $pink-l3; }
*.ts[ts-text="pink lighten4"] { color: $pink-l4; }
*.ts[ts-text="pink lighten5"] { color: $pink-l5; }

*.ts[ts-text="pink darken1"] { color: $pink-d1; }
*.ts[ts-text="pink darken2"] { color: $pink-d2; }
*.ts[ts-text="pink darken3"] { color: $pink-d3; }
*.ts[ts-text="pink darken4"] { color: $pink-d4; }

*.ts[ts-text="pink accent1"] { color: $pink-a1; }
*.ts[ts-text="pink accent2"] { color: $pink-a2; }
*.ts[ts-text="pink accent3"] { color: $pink-a3; }
*.ts[ts-text="pink accent4"] { color: $pink-a4; }

/*-- purple BACKGROUND --*/
*.ts[ts-text="purple"] { color: $purple; }

*.ts[ts-text="purple lighten1"] { color: $purple-l1; }
*.ts[ts-text="purple lighten2"] { color: $purple-l2; }
*.ts[ts-text="purple lighten3"] { color: $purple-l3; }
*.ts[ts-text="purple lighten4"] { color: $purple-l4; }
*.ts[ts-text="purple lighten5"] { color: $purple-l5; }

*.ts[ts-text="purple darken1"] { color: $purple-d1; }
*.ts[ts-text="purple darken2"] { color: $purple-d2; }
*.ts[ts-text="purple darken3"] { color: $purple-d3; }
*.ts[ts-text="purple darken4"] { color: $purple-d4; }

*.ts[ts-text="purple accent1"] { color: $purple-a1; }
*.ts[ts-text="purple accent2"] { color: $purple-a2; }
*.ts[ts-text="purple accent3"] { color: $purple-a3; }
*.ts[ts-text="purple accent4"] { color: $purple-a4; }

/*-- DEEP-purple BACKGROUND --*/
*.ts[ts-text="deeppurple"] { color: $deeppurple; }

*.ts[ts-text="deeppurple lighten1"] { color: $deeppurple-l1; }
*.ts[ts-text="deeppurple lighten2"] { color: $deeppurple-l2; }
*.ts[ts-text="deeppurple lighten3"] { color: $deeppurple-l3; }
*.ts[ts-text="deeppurple lighten4"] { color: $deeppurple-l4; }
*.ts[ts-text="deeppurple lighten5"] { color: $deeppurple-l5; }

*.ts[ts-text="deeppurple darken1"] { color: $deeppurple-d1; }
*.ts[ts-text="deeppurple darken2"] { color: $deeppurple-d2; }
*.ts[ts-text="deeppurple darken3"] { color: $deeppurple-d3; }
*.ts[ts-text="deeppurple darken4"] { color: $deeppurple-d4; }

*.ts[ts-text="deeppurple accent1"] { color: $deeppurple-a1; }
*.ts[ts-text="deeppurple accent2"] { color: $deeppurple-a2; }
*.ts[ts-text="deeppurple accent3"] { color: $deeppurple-a3; }
*.ts[ts-text="deeppurple accent4"] { color: $deeppurple-a4; }

/*-- indigo BACKGROUND --*/
*.ts[ts-text="indigo"] { color: $indigo; }

*.ts[ts-text="indigo lighten1"] { color: $indigo-l1; }
*.ts[ts-text="indigo lighten2"] { color: $indigo-l2; }
*.ts[ts-text="indigo lighten3"] { color: $indigo-l3; }
*.ts[ts-text="indigo lighten4"] { color: $indigo-l4; }
*.ts[ts-text="indigo lighten5"] { color: $indigo-l5; }

*.ts[ts-text="indigo darken1"] { color: $indigo-d1; }
*.ts[ts-text="indigo darken2"] { color: $indigo-d2; }
*.ts[ts-text="indigo darken3"] { color: $indigo-d3; }
*.ts[ts-text="indigo darken4"] { color: $indigo-d4; }

*.ts[ts-text="indigo accent1"] { color: $indigo-a1; }
*.ts[ts-text="indigo accent2"] { color: $indigo-a2; }
*.ts[ts-text="indigo accent3"] { color: $indigo-a3; }
*.ts[ts-text="indigo accent4"] { color: $indigo-a4; }

/*-- blue BACKGROUND --*/
*.ts[ts-text="blu"] { color: $blue; }

*.ts[ts-text="blue lighten2"] { color: $blue-l1; }
*.ts[ts-text="blue lighten2"] { color: $blue-l2; }
*.ts[ts-text="blue lighten3"] { color: $blue-l3; }
*.ts[ts-text="blue lighten4"] { color: $blue-l4; }
*.ts[ts-text="blue lighten5"] { color: $blue-l5; }

*.ts[ts-text="blue darken1"] { color: $blue-d1; }
*.ts[ts-text="blue darken2"] { color: $blue-d2; }
*.ts[ts-text="blue darken3"] { color: $blue-d3; }
*.ts[ts-text="blue darken4"] { color: $blue-d4; }

*.ts[ts-text="blue accent1"] { color: $blue-a1; }
*.ts[ts-text="blue accent2"] { color: $blue-a2; }
*.ts[ts-text="blue accent3"] { color: $blue-a3; }
*.ts[ts-text="blue accent4"] { color: $blue-a4; }

/*-- LIGHT-blue BACKGROUND --*/
*.ts[ts-text="lightblue"] { color: $lightblue; }

*.ts[ts-text="lightblue lighten1"] { color: $lightblue-l1; }
*.ts[ts-text="lightblue lighten2"] { color: $lightblue-l2; }
*.ts[ts-text="lightblue lighten3"] { color: $lightblue-l3; }
*.ts[ts-text="lightblue lighten4"] { color: $lightblue-l4; }
*.ts[ts-text="lightblue lighten5"] { color: $lightblue-l5; }

*.ts[ts-text="lightblue darken1"] { color: $lightblue-d1; }
*.ts[ts-text="lightblue darken2"] { color: $lightblue-d2; }
*.ts[ts-text="lightblue darken3"] { color: $lightblue-d3; }
*.ts[ts-text="lightblue darken4"] { color: $lightblue-d4; }

*.ts[ts-text="lightblue accent1"] { color: $lightblue-a1; }
*.ts[ts-text="lightblue accent2"] { color: $lightblue-a2; }
*.ts[ts-text="lightblue accent3"] { color: $lightblue-a3; }
*.ts[ts-text="lightblue accent4"] { color: $lightblue-a4; }

/*-- cyan BACKGROUND --*/
*.ts[ts-text="cyan"] { color: $cyan; }

*.ts[ts-text="cyan lighten1"] { color: $cyan-l1; }
*.ts[ts-text="cyan lighten2"] { color: $cyan-l2; }
*.ts[ts-text="cyan lighten3"] { color: $cyan-l3; }
*.ts[ts-text="cyan lighten4"] { color: $cyan-l4; }
*.ts[ts-text="cyan lighten5"] { color: $cyan-l5; }

*.ts[ts-text="cyan darken1"] { color: $cyan-d1; }
*.ts[ts-text="cyan darken2"] { color: $cyan-d2; }
*.ts[ts-text="cyan darken3"] { color: $cyan-d3; }
*.ts[ts-text="cyan darken4"] { color: $cyan-d4; }

*.ts[ts-text="cyan accent1"] { color: $cyan-a1; }
*.ts[ts-text="cyan accent2"] { color: $cyan-a2; }
*.ts[ts-text="cyan accent3"] { color: $cyan-a3; }
*.ts[ts-text="cyan accent4"] { color: $cyan-a4; }

/*-- teal BACKGROUND --*/
*.ts[ts-text="teal"] { color: $teal; }

*.ts[ts-text="teal lighten1"] { color: $teal-l1; }
*.ts[ts-text="teal lighten2"] { color: $teal-l2; }
*.ts[ts-text="teal lighten3"] { color: $teal-l3; }
*.ts[ts-text="teal lighten4"] { color: $teal-l4; }
*.ts[ts-text="teal lighten5"] { color: $teal-l5; }

*.ts[ts-text="teal darken1"] { color: $teal-d1; }
*.ts[ts-text="teal darken2"] { color: $teal-d2; }
*.ts[ts-text="teal darken3"] { color: $teal-d3; }
*.ts[ts-text="teal darken4"] { color: $teal-d4; }

*.ts[ts-text="teal accent1"] { color: $teal-a1; }
*.ts[ts-text="teal accent2"] { color: $teal-a2; }
*.ts[ts-text="teal accent3"] { color: $teal-a3; }
*.ts[ts-text="teal accent4"] { color: $teal-a4; }

/*-- green BACKGROUND --*/
*.ts[ts-text="green"] { color: $green; }

*.ts[ts-text="green lighten1"] { color: $green-l1; }
*.ts[ts-text="green lighten2"] { color: $green-l2; }
*.ts[ts-text="green lighten3"] { color: $green-l3; }
*.ts[ts-text="green lighten4"] { color: $green-l4; }
*.ts[ts-text="green lighten5"] { color: $green-l5; }

*.ts[ts-text="green darken1"] { color: $green-d1; }
*.ts[ts-text="green darken2"] { color: $green-d2; }
*.ts[ts-text="green darken3"] { color: $green-d3; }
*.ts[ts-text="green darken4"] { color: $green-d4; }

*.ts[ts-text="green accent1"] { color: $green-a1; }
*.ts[ts-text="green accent2"] { color: $green-a2; }
*.ts[ts-text="green accent3"] { color: $green-a3; }
*.ts[ts-text="green accent4"] { color: $green-a4; }

/*-- LIGHT-green BACKGROUND --*/
*.ts[ts-text="lightgreen"] { color: $lightgreen; }

*.ts[ts-text="lightgreen lighten1"] { color: $lightgreen-l1; }
*.ts[ts-text="lightgreen lighten2"] { color: $lightgreen-l2; }
*.ts[ts-text="lightgreen lighten3"] { color: $lightgreen-l3; }
*.ts[ts-text="lightgreen lighten4"] { color: $lightgreen-l4; }
*.ts[ts-text="lightgreen lighten5"] { color: $lightgreen-l5; }

*.ts[ts-text="lightgreen darken1"] { color: $lightgreen-d1; }
*.ts[ts-text="lightgreen darken2"] { color: $lightgreen-d2; }
*.ts[ts-text="lightgreen darken3"] { color: $lightgreen-d3; }
*.ts[ts-text="lightgreen darken4"] { color: $lightgreen-d4; }

*.ts[ts-text="lightgreen accent1"] { color: $lightgreen-a1; }
*.ts[ts-text="lightgreen accent2"] { color: $lightgreen-a2; }
*.ts[ts-text="lightgreen accent3"] { color: $lightgreen-a3; }
*.ts[ts-text="lightgreen accent4"] { color: $lightgreen-a4; }

/*-- lime BACKGROUND --*/
*.ts[ts-text="lime"] { color: $lime; }

*.ts[ts-text="lime lighten1"] { color: $lime-l1; }
*.ts[ts-text="lime lighten2"] { color: $lime-l2; }
*.ts[ts-text="lime lighten3"] { color: $lime-l3; }
*.ts[ts-text="lime lighten4"] { color: $lime-l4; }
*.ts[ts-text="lime lighten5"] { color: $lime-l5; }

*.ts[ts-text="lime darken1"] { color: $lime-d1; }
*.ts[ts-text="lime darken2"] { color: $lime-d2; }
*.ts[ts-text="lime darken3"] { color: $lime-d3; }
*.ts[ts-text="lime darken4"] { color: $lime-d4; }

*.ts[ts-text="lime accent1"] { color: $lime-a1; }
*.ts[ts-text="lime accent2"] { color: $lime-a2; }
*.ts[ts-text="lime accent3"] { color: $lime-a3; }
*.ts[ts-text="lime accent4"] { color: $lime-a4; }

/*-- yellow BACKGROUND --*/
*.ts[ts-text="yellow"] { color: $yellow; }

*.ts[ts-text="yellow lighten1"] { color: $yellow-l1; }
*.ts[ts-text="yellow lighten2"] { color: $yellow-l2; }
*.ts[ts-text="yellow lighten3"] { color: $yellow-l3; }
*.ts[ts-text="yellow lighten4"] { color: $yellow-l4; }
*.ts[ts-text="yellow lighten5"] { color: $yellow-l5; }

*.ts[ts-text="yellow darken1"] { color: $yellow-d1; }
*.ts[ts-text="yellow darken2"] { color: $yellow-d2; }
*.ts[ts-text="yellow darken3"] { color: $yellow-d3; }
*.ts[ts-text="yellow darken4"] { color: $yellow-d4; }

*.ts[ts-text="yellow accent1"] { color: $yellow-a1; }
*.ts[ts-text="yellow accent2"] { color: $yellow-a2; }
*.ts[ts-text="yellow accent3"] { color: $yellow-a3; }
*.ts[ts-text="yellow accent4"] { color: $yellow-a4; }

/*-- amber BACKGROUND --*/
*.ts[ts-text="amber"] { color: $amber; }

*.ts[ts-text="amber lighten1"] { color: $amber-l1; }
*.ts[ts-text="amber lighten2"] { color: $amber-l2; }
*.ts[ts-text="amber lighten3"] { color: $amber-l3; }
*.ts[ts-text="amber lighten4"] { color: $amber-l4; }
*.ts[ts-text="amber lighten5"] { color: $amber-l5; }

*.ts[ts-text="amber darken1"] { color: $amber-d1; }
*.ts[ts-text="amber darken2"] { color: $amber-d2; }
*.ts[ts-text="amber darken3"] { color: $amber-d3; }
*.ts[ts-text="amber darken4"] { color: $amber-d4; }

*.ts[ts-text="amber accent1"] { color: $amber-a1; }
*.ts[ts-text="amber accent2"] { color: $amber-a2; }
*.ts[ts-text="amber accent3"] { color: $amber-a3; }
*.ts[ts-text="amber accent4"] { color: $amber-a4; }

/*-- orange BACKGROUND --*/
*.ts[ts-text="orange"] { color: $orange; }

*.ts[ts-text="orange lighten1"] { color: $orange-l1; }
*.ts[ts-text="orange lighten2"] { color: $orange-l2; }
*.ts[ts-text="orange lighten3"] { color: $orange-l3; }
*.ts[ts-text="orange lighten4"] { color: $orange-l4; }
*.ts[ts-text="orange lighten5"] { color: $orange-l5; }

*.ts[ts-text="orange darken1"] { color: $orange-d1; }
*.ts[ts-text="orange darken2"] { color: $orange-d2; }
*.ts[ts-text="orange darken3"] { color: $orange-d3; }
*.ts[ts-text="orange darken4"] { color: $orange-d4; }

*.ts[ts-text="orange accent1"] { color: $orange-a1; }
*.ts[ts-text="orange accent2"] { color: $orange-a2; }
*.ts[ts-text="orange accent3"] { color: $orange-a3; }
*.ts[ts-text="orange accent4"] { color: $orange-a4; }

/*-- DEEP-orange BACKGROUND --*/
*.ts[ts-text="deeporange"] { color: $deeporange; }

*.ts[ts-text="deeporange lighten1"] { color: $deeporange-l1; }
*.ts[ts-text="deeporange lighten2"] { color: $deeporange-l2; }
*.ts[ts-text="deeporange lighten3"] { color: $deeporange-l3; }
*.ts[ts-text="deeporange lighten4"] { color: $deeporange-l4; }
*.ts[ts-text="deeporange lighten5"] { color: $deeporange-l5; }

*.ts[ts-text="deeporange darken1"] { color: $deeporange-d1; }
*.ts[ts-text="deeporange darken2"] { color: $deeporange-d2; }
*.ts[ts-text="deeporange darken3"] { color: $deeporange-d3; }
*.ts[ts-text="deeporange darken4"] { color: $deeporange-d4; }

*.ts[ts-text="deeporange accent1"] { color: $deeporange-a1; }
*.ts[ts-text="deeporange accent2"] { color: $deeporange-a2; }
*.ts[ts-text="deeporange accent3"] { color: $deeporange-a3; }
*.ts[ts-text="deeporange accent4"] { color: $deeporange-a4; }

/*-- brown BACKGROUND --*/
*.ts[ts-text="brown"] { color: $brown; }

*.ts[ts-text="brown lighten1"] { color: $brown-l1; }
*.ts[ts-text="brown lighten2"] { color: $brown-l2; }
*.ts[ts-text="brown lighten3"] { color: $brown-l3; }
*.ts[ts-text="brown lighten4"] { color: $brown-l4; }
*.ts[ts-text="brown lighten5"] { color: $brown-l5; }

*.ts[ts-text="brown darken1"] { color: $brown-d1; }
*.ts[ts-text="brown darken2"] { color: $brown-d2; }
*.ts[ts-text="brown darken3"] { color: $brown-d3; }
*.ts[ts-text="brown darken4"] { color: $brown-d4; }

/*-- grey BACKGROUND --*/
*.ts[ts-text="grey"] { color: $grey; }

*.ts[ts-text="grey lighten1"] { color: $grey-l1; }
*.ts[ts-text="grey lighten2"] { color: $grey-l2; }
*.ts[ts-text="grey lighten3"] { color: $grey-l3; }
*.ts[ts-text="grey lighten4"] { color: $grey-l4; }
*.ts[ts-text="grey lighten5"] { color: $grey-l5; }

*.ts[ts-text="grey darken1"] { color: $grey-d1; }
*.ts[ts-text="grey darken2"] { color: $grey-d2; }
*.ts[ts-text="grey darken3"] { color: $grey-d3; }
*.ts[ts-text="grey darken4"] { color: $grey-d4; }

/*-- BLUE-grey BACKGROUND --*/
*.ts[ts-text="bluegrey"] { color: $bluegrey; }

*.ts[ts-text="bluegrey lighten1"] { color: $bluegrey-l1; }
*.ts[ts-text="bluegrey lighten2"] { color: $bluegrey-l2; }
*.ts[ts-text="bluegrey lighten3"] { color: $bluegrey-l3; }
*.ts[ts-text="bluegrey lighten4"] { color: $bluegrey-l4; }
*.ts[ts-text="bluegrey lighten5"] { color: $bluegrey-l5; }

*.ts[ts-text="bluegrey darken1"] { color: $bluegrey-d1; }
*.ts[ts-text="bluegrey darken2"] { color: $bluegrey-d2; }
*.ts[ts-text="bluegrey darken3"] { color: $bluegrey-d3; }
*.ts[ts-text="bluegrey darken4"] { color: $bluegrey-d4; }

/*-- BLACK, WHITE and TRANSPARENT BACKGROUND --*/
*.ts[ts-text="black"] { color: $black; }
*.ts[ts-text="white"] { color: $white; }
*.ts[ts-text="transparent"] { color: $transparent; }