
$posA:'auto';
$pos0:0%;
$pos1:5%;
$pos2:10%;
$pos3:15%;
$pos4:20%;
$pos5:25%; 
$pos6:30%;
$pos7:35%;
$pos8:40%;
$pos9:45%;
$pos10:50%;
$pos11:55%;
$pos12:60%;
$pos13:65%;
$pos14:70%;
$pos15:75%;
$pos16:80%;
$pos17:85%;
$pos18:90%;
$pos19:95%;
$pos20:100%;