
.landscape {

	*.qcb.wl0 { width:$pos0; }
	*.qcb.wl1 { width:$pos1; }
	*.qcb.wl2 { width:$pos2; }
	*.qcb.wl3 { width:$pos3; }
	*.qcb.wl4 { width:$pos4; }
	*.qcb.wl5 { width:$pos5; }
	*.qcb.wl6 { width:$pos6; }
	*.qcb.wl7 { width:$pos7; }
	*.qcb.wl8 { width:$pos8; }
	*.qcb.wl9 { width:$pos9; }
	*.qcb.wl10 { width:$pos10; }
	*.qcb.wl11 { width:$pos11; }
	*.qcb.wl12 { width:$pos12; }
	*.qcb.wl13 { width:$pos13; }
	*.qcb.wl14 { width:$pos14; }
	*.qcb.wl15 { width:$pos15; }
	*.qcb.wl16 { width:$pos16; }
	*.qcb.wl17 { width:$pos17; }
	*.qcb.wl18 { width:$pos18; }
	*.qcb.wl19 { width:$pos19; }
	*.qcb.wl20 { width:$pos20; }

	*.qcb.hl0 { height:$pos0; }
	*.qcb.hl1 { height:$pos1; }
	*.qcb.hl2 { height:$pos2; }
	*.qcb.hl3 { height:$pos3; }
	*.qcb.hl4 { height:$pos4; }
	*.qcb.hl5 { height:$pos5; }
	*.qcb.hl6 { height:$pos6; }
	*.qcb.hl7 { height:$pos7; }
	*.qcb.hl8 { height:$pos8; }
	*.qcb.hl9 { height:$pos9; }
	*.qcb.hl10 { height:$pos10; }
	*.qcb.hl11 { height:$pos11; }
	*.qcb.hl12 { height:$pos12; }
	*.qcb.hl13 { height:$pos13; }
	*.qcb.hl14 { height:$pos14; }
	*.qcb.hl15 { height:$pos15; }
	*.qcb.hl16 { height:$pos16; }
	*.qcb.hl17 { height:$pos17; }
	*.qcb.hl18 { height:$pos18; }
	*.qcb.hl19 { height:$pos19; }
	*.qcb.hl20 { height:$pos20; }

	*.qcb.tl0 { top:$pos0; }
	*.qcb.tl1 { top:$pos1; }
	*.qcb.tl2 { top:$pos2; }
	*.qcb.tl3 { top:$pos3; }
	*.qcb.tl4 { top:$pos4; }
	*.qcb.tl5 { top:$pos5; }
	*.qcb.tl6 { top:$pos6; }
	*.qcb.tl7 { top:$pos7; }
	*.qcb.tl8 { top:$pos8; }
	*.qcb.tl9 { top:$pos9; }
	*.qcb.tl10 { top:$pos10; }
	*.qcb.tl11 { top:$pos11; }
	*.qcb.tl12 { top:$pos12; }
	*.qcb.tl13 { top:$pos13; }
	*.qcb.tl14 { top:$pos14; }
	*.qcb.tl15 { top:$pos15; }
	*.qcb.tl16 { top:$pos16; }
	*.qcb.tl17 { top:$pos17; }
	*.qcb.tl18 { top:$pos18; }
	*.qcb.tl19 { top:$pos19; }
	*.qcb.tl20 { top:$pos20; }

	*.qcb.ll0 { left:$pos0; }
	*.qcb.ll1 { left:$pos1; }
	*.qcb.ll2 { left:$pos2; }
	*.qcb.ll3 { left:$pos3; }
	*.qcb.ll4 { left:$pos4; }
	*.qcb.ll5 { left:$pos5; }
	*.qcb.ll6 { left:$pos6; }
	*.qcb.ll7 { left:$pos7; }
	*.qcb.ll8 { left:$pos8; }
	*.qcb.ll9 { left:$pos9; }
	*.qcb.ll10 { left:$pos10; }
	*.qcb.ll11 { left:$pos11; }
	*.qcb.ll12 { left:$pos12; }
	*.qcb.ll13 { left:$pos13; }
	*.qcb.ll14 { left:$pos14; }
	*.qcb.ll15 { left:$pos15; }
	*.qcb.ll16 { left:$pos16; }
	*.qcb.ll17 { left:$pos17; }
	*.qcb.ll18 { left:$pos18; }
	*.qcb.ll19 { left:$pos19; }
	*.qcb.ll20 { left:$pos20; }

	*.qcb.fl-c100 { font-size: $child100; }
	*.qcb.fl-c110 { font-size: $child110; }
	*.qcb.fl-c120 { font-size: $child120; }
	*.qcb.fl-c130 { font-size: $child130; }
	*.qcb.fl-c140 { font-size: $child140; }
	*.qcb.fl-c150 { font-size: $child150; }
	*.qcb.fl-c160 { font-size: $child160; }
	*.qcb.fl-c170 { font-size: $child170; }
	*.qcb.fl-c180 { font-size: $child180; }
	*.qcb.fl-c190 { font-size: $child190; }

	*.qcb.fl-c200 { font-size: $child200; }
	*.qcb.fl-c210 { font-size: $child210; }
	*.qcb.fl-c220 { font-size: $child220; }
	*.qcb.fl-c230 { font-size: $child230; }
	*.qcb.fl-c240 { font-size: $child240; }
	*.qcb.fl-c250 { font-size: $child250; }
	*.qcb.fl-c260 { font-size: $child260; }
	*.qcb.fl-c270 { font-size: $child270; }
	*.qcb.fl-c280 { font-size: $child280; }
	*.qcb.fl-c290 { font-size: $child290; }

	*.qcb.fl-c300 { font-size: $child300; }
	*.qcb.fl-c325 { font-size: $child325; }
	*.qcb.fl-c350 { font-size: $child350; }
	*.qcb.fl-c375 { font-size: $child375; }

	*.qcb.fl-c400 { font-size: $child400; }
	*.qcb.fl-c425 { font-size: $child425; }
	*.qcb.fl-c450 { font-size: $child450; }
	*.qcb.fl-c475 { font-size: $child475; }
	
	*.qcb.fl-c500 { font-size: $child500; }
	*.qcb.fl-c525 { font-size: $child525; }
	*.qcb.fl-c550 { font-size: $child550; }
	*.qcb.fl-c575 { font-size: $child575; }

	*.qcb.fl-c600 { font-size: $child600; }

	*.qcb.fl-p100 { font-size: $parent100; }
	*.qcb.fl-p110 { font-size: $parent110; }
	*.qcb.fl-p120 { font-size: $parent120; }
	*.qcb.fl-p130 { font-size: $parent130; }
	*.qcb.fl-p140 { font-size: $parent140; }
	*.qcb.fl-p150 { font-size: $parent150; }
	*.qcb.fl-p160 { font-size: $parent160; }
	*.qcb.fl-p170 { font-size: $parent170; }
	*.qcb.fl-p180 { font-size: $parent180; }
	*.qcb.fl-p190 { font-size: $parent190; }

	*.qcb.fl-p200 { font-size: $parent200; }
	*.qcb.fl-p210 { font-size: $parent210; }
	*.qcb.fl-p220 { font-size: $parent220; }
	*.qcb.fl-p230 { font-size: $parent230; }
	*.qcb.fl-p240 { font-size: $parent240; }
	*.qcb.fl-p250 { font-size: $parent250; }
	*.qcb.fl-p260 { font-size: $parent260; }
	*.qcb.fl-p270 { font-size: $parent270; }
	*.qcb.fl-p280 { font-size: $parent280; }
	*.qcb.fl-p290 { font-size: $parent290; }

	*.qcb.fl-p300 { font-size: $parent300; }
	*.qcb.fl-p325 { font-size: $parent325; }
	*.qcb.fl-p350 { font-size: $parent350; }
	*.qcb.fl-p375 { font-size: $parent375; }

	*.qcb.fl-p400 { font-size: $parent400; }
	*.qcb.fl-p425 { font-size: $parent425; }
	*.qcb.fl-p450 { font-size: $parent450; }
	*.qcb.fl-p475 { font-size: $parent475; }
	
	*.qcb.fl-p500 { font-size: $parent500; }
	*.qcb.fl-p525 { font-size: $parent525; }
	*.qcb.fl-p550 { font-size: $parent550; }
	*.qcb.fl-p575 { font-size: $parent575; }

	*.qcb.fl-p600 { font-size: $parent600; }

	*.qcb.pl-a { position:absolute; }
	*.qcb.pl-r { position:relative; }
	*.qcb.pl-f { position:fixed; }
	*.qcb.pl-s { position:static; }

	*.qcb.dl-b { display: block; }
	*.qcb.dl-ib { display:inline-block; }

	*.qcb.va-l-hn { @include dispflex; @include flexhorizontal; }
	*.qcb.va-l-hr { @include dispflex; @include flexhorizontalreverse; }
	*.qcb.va-l-vn { @include dispflex; @include flexvertical; }
	*.qcb.va-l-vr { @include dispflex; @include flexverticalreverse; }
}