
@mixin dispflex {
	display: -webkit-box!important;
	display: -moz-box!important;
	display: -ms-flexbox!important;
	display: -webkit-flex!important;
	display: flex!important;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content:center;
	justify-content:center;
}

@mixin flexhorizontal {
	flex-direction: row;
	-webkit-flex-direction: row;
}

@mixin flexvertical {
	flex-direction:column;
	-webkit-flex-direction:column;
}

@mixin flexhorizontalreverse {
	flex-direction:row-reverse;
	-webkit-flex-direction:row-reverse;
}

@mixin flexverticalreverse {
	flex-direction:column-reverse;
	-webkit-flex-direction:column-reverse;
}