
$child100:1.00em; 
$child110:1.10em; 
$child120:1.20em; 
$child130:1.30em; 
$child140:1.40em; 
$child150:1.50em; 
$child160:1.60em; 
$child170:1.70em; 
$child180:1.80em; 
$child190:1.90em;

$child200:2.00em; 
$child210:2.10em; 
$child220:2.20em; 
$child230:2.30em; 
$child240:2.40em; 
$child250:2.50em; 
$child260:2.60em; 
$child270:2.70em; 
$child280:2.80em; 
$child290:2.90em; 

$child300:3.00em; 
$child325:3.25em; 
$child350:3.50em; 
$child375:3.75em; 

$child400:4.00em; 
$child425:4.25em; 
$child450:4.50em; 
$child475:4.75em; 

$child500:5.00em; 
$child525:5.25em; 
$child550:5.50em; 
$child575:5.75em;

$child600:6.00em;


$parent100:1.00rem; 
$parent110:1.10rem; 
$parent120:1.20rem; 
$parent130:1.30rem; 
$parent140:1.40rem; 
$parent150:1.50rem; 
$parent160:1.60rem; 
$parent170:1.70rem; 
$parent180:1.80rem; 
$parent190:1.90rem;

$parent200:2.00rem; 
$parent210:2.10rem; 
$parent220:2.20rem; 
$parent230:2.30rem; 
$parent240:2.40rem; 
$parent250:2.50rem; 
$parent260:2.60rem; 
$parent270:2.70rem; 
$parent280:2.80rem; 
$parent290:2.90rem; 

$parent300:3.00rem; 
$parent325:3.25rem; 
$parent350:3.50rem; 
$parent375:3.75rem; 

$parent400:4.00rem; 
$parent425:4.25rem; 
$parent450:4.50rem; 
$parent475:4.75rem; 

$parent500:5.00rem; 
$parent525:5.25rem; 
$parent550:5.50rem; 
$parent575:5.75rem;

$parent600:6.00rem;