
.landscape {

	*.ts.wlA { width:$posA; }
	*.ts.wl0 { width:$pos0; }
	*.ts.wl1 { width:$pos1; }
	*.ts.wl2 { width:$pos2; }
	*.ts.wl3 { width:$pos3; }
	*.ts.wl4 { width:$pos4; }
	*.ts.wl5 { width:$pos5; }
	*.ts.wl6 { width:$pos6; }
	*.ts.wl7 { width:$pos7; }
	*.ts.wl8 { width:$pos8; }
	*.ts.wl9 { width:$pos9; }
	*.ts.wl10 { width:$pos10; }
	*.ts.wl11 { width:$pos11; }
	*.ts.wl12 { width:$pos12; }
	*.ts.wl13 { width:$pos13; }
	*.ts.wl14 { width:$pos14; }
	*.ts.wl15 { width:$pos15; }
	*.ts.wl16 { width:$pos16; }
	*.ts.wl17 { width:$pos17; }
	*.ts.wl18 { width:$pos18; }
	*.ts.wl19 { width:$pos19; }
	*.ts.wl20 { width:$pos20; }

	*.ts.hlA { height:$posA; }
	*.ts.hl0 { height:$pos0; }
	*.ts.hl1 { height:$pos1; }
	*.ts.hl2 { height:$pos2; }
	*.ts.hl3 { height:$pos3; }
	*.ts.hl4 { height:$pos4; }
	*.ts.hl5 { height:$pos5; }
	*.ts.hl6 { height:$pos6; }
	*.ts.hl7 { height:$pos7; }
	*.ts.hl8 { height:$pos8; }
	*.ts.hl9 { height:$pos9; }
	*.ts.hl10 { height:$pos10; }
	*.ts.hl11 { height:$pos11; }
	*.ts.hl12 { height:$pos12; }
	*.ts.hl13 { height:$pos13; }
	*.ts.hl14 { height:$pos14; }
	*.ts.hl15 { height:$pos15; }
	*.ts.hl16 { height:$pos16; }
	*.ts.hl17 { height:$pos17; }
	*.ts.hl18 { height:$pos18; }
	*.ts.hl19 { height:$pos19; }
	*.ts.hl20 { height:$pos20; }

	*.ts.tl0 { top:$pos0; }
	*.ts.tl1 { top:$pos1; }
	*.ts.tl2 { top:$pos2; }
	*.ts.tl3 { top:$pos3; }
	*.ts.tl4 { top:$pos4; }
	*.ts.tl5 { top:$pos5; }
	*.ts.tl6 { top:$pos6; }
	*.ts.tl7 { top:$pos7; }
	*.ts.tl8 { top:$pos8; }
	*.ts.tl9 { top:$pos9; }
	*.ts.tl10 { top:$pos10; }
	*.ts.tl11 { top:$pos11; }
	*.ts.tl12 { top:$pos12; }
	*.ts.tl13 { top:$pos13; }
	*.ts.tl14 { top:$pos14; }
	*.ts.tl15 { top:$pos15; }
	*.ts.tl16 { top:$pos16; }
	*.ts.tl17 { top:$pos17; }
	*.ts.tl18 { top:$pos18; }
	*.ts.tl19 { top:$pos19; }
	*.ts.tl20 { top:$pos20; }

	*.ts.ll0 { left:$pos0; }
	*.ts.ll1 { left:$pos1; }
	*.ts.ll2 { left:$pos2; }
	*.ts.ll3 { left:$pos3; }
	*.ts.ll4 { left:$pos4; }
	*.ts.ll5 { left:$pos5; }
	*.ts.ll6 { left:$pos6; }
	*.ts.ll7 { left:$pos7; }
	*.ts.ll8 { left:$pos8; }
	*.ts.ll9 { left:$pos9; }
	*.ts.ll10 { left:$pos10; }
	*.ts.ll11 { left:$pos11; }
	*.ts.ll12 { left:$pos12; }
	*.ts.ll13 { left:$pos13; }
	*.ts.ll14 { left:$pos14; }
	*.ts.ll15 { left:$pos15; }
	*.ts.ll16 { left:$pos16; }
	*.ts.ll17 { left:$pos17; }
	*.ts.ll18 { left:$pos18; }
	*.ts.ll19 { left:$pos19; }
	*.ts.ll20 { left:$pos20; }

	*.ts.bl0 { bottom:$pos0; }
	*.ts.bl1 { bottom:$pos1; }
	*.ts.bl2 { bottom:$pos2; }
	*.ts.bl3 { bottom:$pos3; }
	*.ts.bl4 { bottom:$pos4; }
	*.ts.bl5 { bottom:$pos5; }
	*.ts.bl6 { bottom:$pos6; }
	*.ts.bl7 { bottom:$pos7; }
	*.ts.bl8 { bottom:$pos8; }
	*.ts.bl9 { bottom:$pos9; }
	*.ts.bl10 { bottom:$pos10; }
	*.ts.bl11 { bottom:$pos11; }
	*.ts.bl12 { bottom:$pos12; }
	*.ts.bl13 { bottom:$pos13; }
	*.ts.bl14 { bottom:$pos14; }
	*.ts.bl15 { bottom:$pos15; }
	*.ts.bl16 { bottom:$pos16; }
	*.ts.bl17 { bottom:$pos17; }
	*.ts.bl18 { bottom:$pos18; }
	*.ts.bl19 { bottom:$pos19; }
	*.ts.bl20 { bottom:$pos20; }

	*.ts.rl0 { right:$pos0; }
	*.ts.rl1 { right:$pos1; }
	*.ts.rl2 { right:$pos2; }
	*.ts.rl3 { right:$pos3; }
	*.ts.rl4 { right:$pos4; }
	*.ts.rl5 { right:$pos5; }
	*.ts.rl6 { right:$pos6; }
	*.ts.rl7 { right:$pos7; }
	*.ts.rl8 { right:$pos8; }
	*.ts.rl9 { right:$pos9; }
	*.ts.rl10 { right:$pos10; }
	*.ts.rl11 { right:$pos11; }
	*.ts.rl12 { right:$pos12; }
	*.ts.rl13 { right:$pos13; }
	*.ts.rl14 { right:$pos14; }
	*.ts.rl15 { right:$pos15; }
	*.ts.rl16 { right:$pos16; }
	*.ts.rl17 { right:$pos17; }
	*.ts.rl18 { right:$pos18; }
	*.ts.rl19 { right:$pos19; }
	*.ts.rl20 { right:$pos20; }

	*.ts.fl-c100 { font-size: $child100; }
	*.ts.fl-c110 { font-size: $child110; }
	*.ts.fl-c120 { font-size: $child120; }
	*.ts.fl-c130 { font-size: $child130; }
	*.ts.fl-c140 { font-size: $child140; }
	*.ts.fl-c150 { font-size: $child150; }
	*.ts.fl-c160 { font-size: $child160; }
	*.ts.fl-c170 { font-size: $child170; }
	*.ts.fl-c180 { font-size: $child180; }
	*.ts.fl-c190 { font-size: $child190; }

	*.ts.fl-c200 { font-size: $child200; }
	*.ts.fl-c210 { font-size: $child210; }
	*.ts.fl-c220 { font-size: $child220; }
	*.ts.fl-c230 { font-size: $child230; }
	*.ts.fl-c240 { font-size: $child240; }
	*.ts.fl-c250 { font-size: $child250; }
	*.ts.fl-c260 { font-size: $child260; }
	*.ts.fl-c270 { font-size: $child270; }
	*.ts.fl-c280 { font-size: $child280; }
	*.ts.fl-c290 { font-size: $child290; }

	*.ts.fl-c300 { font-size: $child300; }
	*.ts.fl-c325 { font-size: $child325; }
	*.ts.fl-c350 { font-size: $child350; }
	*.ts.fl-c375 { font-size: $child375; }

	*.ts.fl-c400 { font-size: $child400; }
	*.ts.fl-c425 { font-size: $child425; }
	*.ts.fl-c450 { font-size: $child450; }
	*.ts.fl-c475 { font-size: $child475; }
	
	*.ts.fl-c500 { font-size: $child500; }
	*.ts.fl-c525 { font-size: $child525; }
	*.ts.fl-c550 { font-size: $child550; }
	*.ts.fl-c575 { font-size: $child575; }

	*.ts.fl-c600 { font-size: $child600; }

	*.ts.fl-p100 { font-size: $parent100; }
	*.ts.fl-p110 { font-size: $parent110; }
	*.ts.fl-p120 { font-size: $parent120; }
	*.ts.fl-p130 { font-size: $parent130; }
	*.ts.fl-p140 { font-size: $parent140; }
	*.ts.fl-p150 { font-size: $parent150; }
	*.ts.fl-p160 { font-size: $parent160; }
	*.ts.fl-p170 { font-size: $parent170; }
	*.ts.fl-p180 { font-size: $parent180; }
	*.ts.fl-p190 { font-size: $parent190; }

	*.ts.fl-p200 { font-size: $parent200; }
	*.ts.fl-p210 { font-size: $parent210; }
	*.ts.fl-p220 { font-size: $parent220; }
	*.ts.fl-p230 { font-size: $parent230; }
	*.ts.fl-p240 { font-size: $parent240; }
	*.ts.fl-p250 { font-size: $parent250; }
	*.ts.fl-p260 { font-size: $parent260; }
	*.ts.fl-p270 { font-size: $parent270; }
	*.ts.fl-p280 { font-size: $parent280; }
	*.ts.fl-p290 { font-size: $parent290; }

	*.ts.fl-p300 { font-size: $parent300; }
	*.ts.fl-p325 { font-size: $parent325; }
	*.ts.fl-p350 { font-size: $parent350; }
	*.ts.fl-p375 { font-size: $parent375; }

	*.ts.fl-p400 { font-size: $parent400; }
	*.ts.fl-p425 { font-size: $parent425; }
	*.ts.fl-p450 { font-size: $parent450; }
	*.ts.fl-p475 { font-size: $parent475; }
	
	*.ts.fl-p500 { font-size: $parent500; }
	*.ts.fl-p525 { font-size: $parent525; }
	*.ts.fl-p550 { font-size: $parent550; }
	*.ts.fl-p575 { font-size: $parent575; }

	*.ts.fl-p600 { font-size: $parent600; }

	*.ts.pl-a { position:absolute; }
	*.ts.pl-r { position:relative; }
	*.ts.pl-f { position:fixed; }
	*.ts.pl-s { position:static; }

	*.ts.dl-b { display: block; }
	*.ts.dl-ib { display:inline-block; }

	*.ts.va-l-hn { @include dispflex; @include flexhorizontal; }
	*.ts.va-l-hr { @include dispflex; @include flexhorizontalreverse; }
	*.ts.va-l-vn { @include dispflex; @include flexvertical; }
	*.ts.va-l-vr { @include dispflex; @include flexverticalreverse; }

	*.ts.l-fw { width:100%!important; }
	*.ts.l-fh { height:100%!important; }
	*.ts.l-nm { margin:0!important; }
	*.ts.l-np { padding:0!important; }
	*.ts.l-ne { padding:0!important; margin:0!important; }

	*.ts.al-c { text-align:center; }
	*.ts.al-l { text-align:left; }
	*.ts.al-r { text-align:right; }

	*.ts.float-ll { float:left!important; }
	*.ts.float-lr { float:right!important; }
	*.ts.float-ln { float:none!important; }

	*.ts.space-l1 { margin-top:1%!important; }
	*.ts.space-l2 { margin-top:2%!important; }
	*.ts.space-l3 { margin-top:3%!important; }
	*.ts.space-l4 { margin-top:4%!important; }
	*.ts.space-l5 { margin-top:5%!important; }

	*.ts.hide-l { display:none!important; }
}