
.portrait {

	*.ts.wpA { width:$posA; }
	*.ts.wp0 { width:$pos0; }
	*.ts.wp1 { width:$pos1; }
	*.ts.wp2 { width:$pos2; }
	*.ts.wp3 { width:$pos3; }
	*.ts.wp4 { width:$pos4; }
	*.ts.wp5 { width:$pos5; }
	*.ts.wp6 { width:$pos6; }
	*.ts.wp7 { width:$pos7; }
	*.ts.wp8 { width:$pos8; }
	*.ts.wp9 { width:$pos9; }
	*.ts.wp10 { width:$pos10; }
	*.ts.wp11 { width:$pos11; }
	*.ts.wp12 { width:$pos12; }
	*.ts.wp13 { width:$pos13; }
	*.ts.wp14 { width:$pos14; }
	*.ts.wp15 { width:$pos15; }
	*.ts.wp16 { width:$pos16; }
	*.ts.wp17 { width:$pos17; }
	*.ts.wp18 { width:$pos18; }
	*.ts.wp19 { width:$pos19; }
	*.ts.wp20 { width:$pos20; }

	*.ts.hpA { height:$posA; }
	*.ts.hp0 { height:$pos0; }
	*.ts.hp1 { height:$pos1; }
	*.ts.hp2 { height:$pos2; }
	*.ts.hp3 { height:$pos3; }
	*.ts.hp4 { height:$pos4; }
	*.ts.hp5 { height:$pos5; }
	*.ts.hp6 { height:$pos6; }
	*.ts.hp7 { height:$pos7; }
	*.ts.hp8 { height:$pos8; }
	*.ts.hp9 { height:$pos9; }
	*.ts.hp10 { height:$pos10; }
	*.ts.hp11 { height:$pos11; }
	*.ts.hp12 { height:$pos12; }
	*.ts.hp13 { height:$pos13; }
	*.ts.hp14 { height:$pos14; }
	*.ts.hp15 { height:$pos15; }
	*.ts.hp16 { height:$pos16; }
	*.ts.hp17 { height:$pos17; }
	*.ts.hp18 { height:$pos18; }
	*.ts.hp19 { height:$pos19; }
	*.ts.hp20 { height:$pos20; }

	*.ts.tp0 { top:$pos0; }
	*.ts.tp1 { top:$pos1; }
	*.ts.tp2 { top:$pos2; }
	*.ts.tp3 { top:$pos3; }
	*.ts.tp4 { top:$pos4; }
	*.ts.tp5 { top:$pos5; }
	*.ts.tp6 { top:$pos6; }
	*.ts.tp7 { top:$pos7; }
	*.ts.tp8 { top:$pos8; }
	*.ts.tp9 { top:$pos9; }
	*.ts.tp10 { top:$pos10; }
	*.ts.tp11 { top:$pos11; }
	*.ts.tp12 { top:$pos12; }
	*.ts.tp13 { top:$pos13; }
	*.ts.tp14 { top:$pos14; }
	*.ts.tp15 { top:$pos15; }
	*.ts.tp16 { top:$pos16; }
	*.ts.tp17 { top:$pos17; }
	*.ts.tp18 { top:$pos18; }
	*.ts.tp19 { top:$pos19; }
	*.ts.tp20 { top:$pos20; }

	*.ts.lp0 { left:$pos0; }
	*.ts.lp1 { left:$pos1; }
	*.ts.lp2 { left:$pos2; }
	*.ts.lp3 { left:$pos3; }
	*.ts.lp4 { left:$pos4; }
	*.ts.lp5 { left:$pos5; }
	*.ts.lp6 { left:$pos6; }
	*.ts.lp7 { left:$pos7; }
	*.ts.lp8 { left:$pos8; }
	*.ts.lp9 { left:$pos9; }
	*.ts.lp10 { left:$pos10; }
	*.ts.lp11 { left:$pos11; }
	*.ts.lp12 { left:$pos12; }
	*.ts.lp13 { left:$pos13; }
	*.ts.lp14 { left:$pos14; }
	*.ts.lp15 { left:$pos15; }
	*.ts.lp16 { left:$pos16; }
	*.ts.lp17 { left:$pos17; }
	*.ts.lp18 { left:$pos18; }
	*.ts.lp19 { left:$pos19; }
	*.ts.lp20 { left:$pos20; }

	*.ts.bp0 { bottom:$pos0; }
	*.ts.bp1 { bottom:$pos1; }
	*.ts.bp2 { bottom:$pos2; }
	*.ts.bp3 { bottom:$pos3; }
	*.ts.bp4 { bottom:$pos4; }
	*.ts.bp5 { bottom:$pos5; }
	*.ts.bp6 { bottom:$pos6; }
	*.ts.bp7 { bottom:$pos7; }
	*.ts.bp8 { bottom:$pos8; }
	*.ts.bp9 { bottom:$pos9; }
	*.ts.bp10 { bottom:$pos10; }
	*.ts.bp11 { bottom:$pos11; }
	*.ts.bp12 { bottom:$pos12; }
	*.ts.bp13 { bottom:$pos13; }
	*.ts.bp14 { bottom:$pos14; }
	*.ts.bp15 { bottom:$pos15; }
	*.ts.bp16 { bottom:$pos16; }
	*.ts.bp17 { bottom:$pos17; }
	*.ts.bp18 { bottom:$pos18; }
	*.ts.bp19 { bottom:$pos19; }
	*.ts.bp20 { bottom:$pos20; }

	*.ts.rp0 { right:$pos0; }
	*.ts.rp1 { right:$pos1; }
	*.ts.rp2 { right:$pos2; }
	*.ts.rp3 { right:$pos3; }
	*.ts.rp4 { right:$pos4; }
	*.ts.rp5 { right:$pos5; }
	*.ts.rp6 { right:$pos6; }
	*.ts.rp7 { right:$pos7; }
	*.ts.rp8 { right:$pos8; }
	*.ts.rp9 { right:$pos9; }
	*.ts.rp10 { right:$pos10; }
	*.ts.rp11 { right:$pos11; }
	*.ts.rp12 { right:$pos12; }
	*.ts.rp13 { right:$pos13; }
	*.ts.rp14 { right:$pos14; }
	*.ts.rp15 { right:$pos15; }
	*.ts.rp16 { right:$pos16; }
	*.ts.rp17 { right:$pos17; }
	*.ts.rp18 { right:$pos18; }
	*.ts.rp19 { right:$pos19; }
	*.ts.rp20 { right:$pos20; }

	*.ts.fp-c100 { font-size: $child100; }
	*.ts.fp-c110 { font-size: $child110; }
	*.ts.fp-c120 { font-size: $child120; }
	*.ts.fp-c130 { font-size: $child130; }
	*.ts.fp-c140 { font-size: $child140; }
	*.ts.fp-c150 { font-size: $child150; }
	*.ts.fp-c160 { font-size: $child160; }
	*.ts.fp-c170 { font-size: $child170; }
	*.ts.fp-c180 { font-size: $child180; }
	*.ts.fp-c190 { font-size: $child190; }

	*.ts.fp-c200 { font-size: $child200; }
	*.ts.fp-c210 { font-size: $child210; }
	*.ts.fp-c220 { font-size: $child220; }
	*.ts.fp-c230 { font-size: $child230; }
	*.ts.fp-c240 { font-size: $child240; }
	*.ts.fp-c250 { font-size: $child250; }
	*.ts.fp-c260 { font-size: $child260; }
	*.ts.fp-c270 { font-size: $child270; }
	*.ts.fp-c280 { font-size: $child280; }
	*.ts.fp-c290 { font-size: $child290; }

	*.ts.fp-c300 { font-size: $child300; }
	*.ts.fp-c325 { font-size: $child325; }
	*.ts.fp-c350 { font-size: $child350; }
	*.ts.fp-c375 { font-size: $child375; }

	*.ts.fp-c400 { font-size: $child400; }
	*.ts.fp-c425 { font-size: $child425; }
	*.ts.fp-c450 { font-size: $child450; }
	*.ts.fp-c475 { font-size: $child475; }
	
	*.ts.fp-c500 { font-size: $child500; }
	*.ts.fp-c525 { font-size: $child525; }
	*.ts.fp-c550 { font-size: $child550; }
	*.ts.fp-c575 { font-size: $child575; }

	*.ts.fp-c600 { font-size: $child600; }

	*.ts.fp-p100 { font-size: $parent100; }
	*.ts.fp-p110 { font-size: $parent110; }
	*.ts.fp-p120 { font-size: $parent120; }
	*.ts.fp-p130 { font-size: $parent130; }
	*.ts.fp-p140 { font-size: $parent140; }
	*.ts.fp-p150 { font-size: $parent150; }
	*.ts.fp-p160 { font-size: $parent160; }
	*.ts.fp-p170 { font-size: $parent170; }
	*.ts.fp-p180 { font-size: $parent180; }
	*.ts.fp-p190 { font-size: $parent190; }

	*.ts.fp-p200 { font-size: $parent200; }
	*.ts.fp-p210 { font-size: $parent210; }
	*.ts.fp-p220 { font-size: $parent220; }
	*.ts.fp-p230 { font-size: $parent230; }
	*.ts.fp-p240 { font-size: $parent240; }
	*.ts.fp-p250 { font-size: $parent250; }
	*.ts.fp-p260 { font-size: $parent260; }
	*.ts.fp-p270 { font-size: $parent270; }
	*.ts.fp-p280 { font-size: $parent280; }
	*.ts.fp-p290 { font-size: $parent290; }

	*.ts.fp-p300 { font-size: $parent300; }
	*.ts.fp-p325 { font-size: $parent325; }
	*.ts.fp-p350 { font-size: $parent350; }
	*.ts.fp-p375 { font-size: $parent375; }

	*.ts.fp-p400 { font-size: $parent400; }
	*.ts.fp-p425 { font-size: $parent425; }
	*.ts.fp-p450 { font-size: $parent450; }
	*.ts.fp-p475 { font-size: $parent475; }
	
	*.ts.fp-p500 { font-size: $parent500; }
	*.ts.fp-p525 { font-size: $parent525; }
	*.ts.fp-p550 { font-size: $parent550; }
	*.ts.fp-p575 { font-size: $parent575; }

	*.ts.fp-p600 { font-size: $parent600; }

	*.ts.pp-a { position:absolute; }
	*.ts.pp-r { position:relative; }
	*.ts.pp-f { position:fixed; }
	*.ts.pp-s { position:static; }

	*.ts.dp-b { display: block; }
	*.ts.dp-ib { display:inline-block; }

	*.ts.va-p-hn { @include dispflex; @include flexhorizontal; }
	*.ts.va-p-hr { @include dispflex; @include flexhorizontalreverse; }
	*.ts.va-p-vn { @include dispflex; @include flexvertical; }
	*.ts.va-p-vr { @include dispflex; @include flexverticalreverse; }

	*.ts.p-fw { width:100%!important; }
	*.ts.p-fh { height:100%!important; }
	*.ts.p-nm { margin:0!important; }
	*.ts.p-np { padding:0!important; }
	*.ts.p-ne { padding:0!important; margin:0!important; }

	*.ts.ap-c { text-align:center; }
	*.ts.ap-l { text-align:left; }
	*.ts.ap-r { text-align:right; }

	*.ts.float-pl { float:left!important; }
	*.ts.float-pr { float:right!important; }
	*.ts.float-pn { float:none!important; }

	*.ts.space-p1 { margin-top:1%!important; }
	*.ts.space-p2 { margin-top:2%!important; }
	*.ts.space-p3 { margin-top:3%!important; }
	*.ts.space-p4 { margin-top:4%!important; }
	*.ts.space-p5 { margin-top:5%!important; }
}