
.portrait {

	*.qcb.wp0 { width:$pos0; }
	*.qcb.wp1 { width:$pos1; }
	*.qcb.wp2 { width:$pos2; }
	*.qcb.wp3 { width:$pos3; }
	*.qcb.wp4 { width:$pos4; }
	*.qcb.wp5 { width:$pos5; }
	*.qcb.wp6 { width:$pos6; }
	*.qcb.wp7 { width:$pos7; }
	*.qcb.wp8 { width:$pos8; }
	*.qcb.wp9 { width:$pos9; }
	*.qcb.wp10 { width:$pos10; }
	*.qcb.wp11 { width:$pos11; }
	*.qcb.wp12 { width:$pos12; }
	*.qcb.wp13 { width:$pos13; }
	*.qcb.wp14 { width:$pos14; }
	*.qcb.wp15 { width:$pos15; }
	*.qcb.wp16 { width:$pos16; }
	*.qcb.wp17 { width:$pos17; }
	*.qcb.wp18 { width:$pos18; }
	*.qcb.wp19 { width:$pos19; }
	*.qcb.wp20 { width:$pos20; }

	*.qcb.hp0 { height:$pos0; }
	*.qcb.hp1 { height:$pos1; }
	*.qcb.hp2 { height:$pos2; }
	*.qcb.hp3 { height:$pos3; }
	*.qcb.hp4 { height:$pos4; }
	*.qcb.hp5 { height:$pos5; }
	*.qcb.hp6 { height:$pos6; }
	*.qcb.hp7 { height:$pos7; }
	*.qcb.hp8 { height:$pos8; }
	*.qcb.hp9 { height:$pos9; }
	*.qcb.hp10 { height:$pos10; }
	*.qcb.hp11 { height:$pos11; }
	*.qcb.hp12 { height:$pos12; }
	*.qcb.hp13 { height:$pos13; }
	*.qcb.hp14 { height:$pos14; }
	*.qcb.hp15 { height:$pos15; }
	*.qcb.hp16 { height:$pos16; }
	*.qcb.hp17 { height:$pos17; }
	*.qcb.hp18 { height:$pos18; }
	*.qcb.hp19 { height:$pos19; }
	*.qcb.hp20 { height:$pos20; }

	*.qcb.tp0 { top:$pos0; }
	*.qcb.tp1 { top:$pos1; }
	*.qcb.tp2 { top:$pos2; }
	*.qcb.tp3 { top:$pos3; }
	*.qcb.tp4 { top:$pos4; }
	*.qcb.tp5 { top:$pos5; }
	*.qcb.tp6 { top:$pos6; }
	*.qcb.tp7 { top:$pos7; }
	*.qcb.tp8 { top:$pos8; }
	*.qcb.tp9 { top:$pos9; }
	*.qcb.tp10 { top:$pos10; }
	*.qcb.tp11 { top:$pos11; }
	*.qcb.tp12 { top:$pos12; }
	*.qcb.tp13 { top:$pos13; }
	*.qcb.tp14 { top:$pos14; }
	*.qcb.tp15 { top:$pos15; }
	*.qcb.tp16 { top:$pos16; }
	*.qcb.tp17 { top:$pos17; }
	*.qcb.tp18 { top:$pos18; }
	*.qcb.tp19 { top:$pos19; }
	*.qcb.tp20 { top:$pos20; }

	*.qcb.lp0 { left:$pos0; }
	*.qcb.lp1 { left:$pos1; }
	*.qcb.lp2 { left:$pos2; }
	*.qcb.lp3 { left:$pos3; }
	*.qcb.lp4 { left:$pos4; }
	*.qcb.lp5 { left:$pos5; }
	*.qcb.lp6 { left:$pos6; }
	*.qcb.lp7 { left:$pos7; }
	*.qcb.lp8 { left:$pos8; }
	*.qcb.lp9 { left:$pos9; }
	*.qcb.lp10 { left:$pos10; }
	*.qcb.lp11 { left:$pos11; }
	*.qcb.lp12 { left:$pos12; }
	*.qcb.lp13 { left:$pos13; }
	*.qcb.lp14 { left:$pos14; }
	*.qcb.lp15 { left:$pos15; }
	*.qcb.lp16 { left:$pos16; }
	*.qcb.lp17 { left:$pos17; }
	*.qcb.lp18 { left:$pos18; }
	*.qcb.lp19 { left:$pos19; }
	*.qcb.lp20 { left:$pos20; }

	*.qcb.fp-c100 { font-size: $child100; }
	*.qcb.fp-c110 { font-size: $child110; }
	*.qcb.fp-c120 { font-size: $child120; }
	*.qcb.fp-c130 { font-size: $child130; }
	*.qcb.fp-c140 { font-size: $child140; }
	*.qcb.fp-c150 { font-size: $child150; }
	*.qcb.fp-c160 { font-size: $child160; }
	*.qcb.fp-c170 { font-size: $child170; }
	*.qcb.fp-c180 { font-size: $child180; }
	*.qcb.fp-c190 { font-size: $child190; }

	*.qcb.fp-c200 { font-size: $child200; }
	*.qcb.fp-c210 { font-size: $child210; }
	*.qcb.fp-c220 { font-size: $child220; }
	*.qcb.fp-c230 { font-size: $child230; }
	*.qcb.fp-c240 { font-size: $child240; }
	*.qcb.fp-c250 { font-size: $child250; }
	*.qcb.fp-c260 { font-size: $child260; }
	*.qcb.fp-c270 { font-size: $child270; }
	*.qcb.fp-c280 { font-size: $child280; }
	*.qcb.fp-c290 { font-size: $child290; }

	*.qcb.fp-c300 { font-size: $child300; }
	*.qcb.fp-c325 { font-size: $child325; }
	*.qcb.fp-c350 { font-size: $child350; }
	*.qcb.fp-c375 { font-size: $child375; }

	*.qcb.fp-c400 { font-size: $child400; }
	*.qcb.fp-c425 { font-size: $child425; }
	*.qcb.fp-c450 { font-size: $child450; }
	*.qcb.fp-c475 { font-size: $child475; }
	
	*.qcb.fp-c500 { font-size: $child500; }
	*.qcb.fp-c525 { font-size: $child525; }
	*.qcb.fp-c550 { font-size: $child550; }
	*.qcb.fp-c575 { font-size: $child575; }

	*.qcb.fp-c600 { font-size: $child600; }

	*.qcb.fp-p100 { font-size: $parent100; }
	*.qcb.fp-p110 { font-size: $parent110; }
	*.qcb.fp-p120 { font-size: $parent120; }
	*.qcb.fp-p130 { font-size: $parent130; }
	*.qcb.fp-p140 { font-size: $parent140; }
	*.qcb.fp-p150 { font-size: $parent150; }
	*.qcb.fp-p160 { font-size: $parent160; }
	*.qcb.fp-p170 { font-size: $parent170; }
	*.qcb.fp-p180 { font-size: $parent180; }
	*.qcb.fp-p190 { font-size: $parent190; }

	*.qcb.fp-p200 { font-size: $parent200; }
	*.qcb.fp-p210 { font-size: $parent210; }
	*.qcb.fp-p220 { font-size: $parent220; }
	*.qcb.fp-p230 { font-size: $parent230; }
	*.qcb.fp-p240 { font-size: $parent240; }
	*.qcb.fp-p250 { font-size: $parent250; }
	*.qcb.fp-p260 { font-size: $parent260; }
	*.qcb.fp-p270 { font-size: $parent270; }
	*.qcb.fp-p280 { font-size: $parent280; }
	*.qcb.fp-p290 { font-size: $parent290; }

	*.qcb.fp-p300 { font-size: $parent300; }
	*.qcb.fp-p325 { font-size: $parent325; }
	*.qcb.fp-p350 { font-size: $parent350; }
	*.qcb.fp-p375 { font-size: $parent375; }

	*.qcb.fp-p400 { font-size: $parent400; }
	*.qcb.fp-p425 { font-size: $parent425; }
	*.qcb.fp-p450 { font-size: $parent450; }
	*.qcb.fp-p475 { font-size: $parent475; }
	
	*.qcb.fp-p500 { font-size: $parent500; }
	*.qcb.fp-p525 { font-size: $parent525; }
	*.qcb.fp-p550 { font-size: $parent550; }
	*.qcb.fp-p575 { font-size: $parent575; }

	*.qcb.fp-p600 { font-size: $parent600; }


	*.qcb.pp-a { position:absolute; }
	*.qcb.pp-r { position:relative; }
	*.qcb.pp-f { position:fixed; }
	*.qcb.pp-s { position:static; }
}